@using resourceEdge.webUi.Models
@using Microsoft.AspNet.Identity
@{
    var usersessionObject = (SessionModel)Session["_ResourceEdgeTeneceIdentity"];

    var crumbs = (BreadCrumb)Session["_Crumbs"];
    string[] UrlName = null;
    string action = "";
    string controller = "";
    string FullName = "";
    string BusinessUnit = "";
    var sessionCheck = (SessionModel)HttpContext.Current.Session["_ResourceEdgeTeneceIdentity"];
    if (Request.UrlReferrer != null)
    {
        UrlName = Request.UrlReferrer.AbsolutePath.Split('/');
    }
    if (crumbs != null)
    {
        action = crumbs.Action;
        controller = crumbs.Controller;
    }
    if (usersessionObject != null)
    {
        var usernameArray = User.Identity.GetUserName().Split('@');
        FullName = usersessionObject.FullName ??usernameArray[0];
        BusinessUnit = usersessionObject.UnitName;
    }
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.PageTitle</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <link href="~/assets/AdminTemplate/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    @*    <link href="~/assets/AdminTemplate/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/assets/AdminTemplate/assets/css/animate.min.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/css/style.min.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/css/style-responsive.min.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/css/theme/default.css" rel="stylesheet" id="theme" />*@
    @Styles.Render("~/asset/DefaultCss")
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    @RenderSection("css", required: false)
    <!-- ================== END PAGE LEVEL STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    @*<link href="~/Content/jBox.css" rel="stylesheet" />*@
  @*  <link href="~/assets/AdminTemplate/assets/plugins/parsley/src/parsley.css" rel="stylesheet" />*@
    @Styles.Render("~/asset/BaseCss")
        @Scripts.Render("~/asset/HeadJs")
  
    @*<script src="~/assets/AdminTemplate/assets/plugins/pace/pace.min.js"></script>
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/jBox.min.js"></script>*@
    <!-- ================== END BASE JS ================== -->
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>

    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
        <!-- begin #header -->
        <div id="header" class="header navbar navbar-default navbar-fixed-top">
            <!-- begin container-fluid -->
            <div class="container-fluid">
                <!-- begin mobile sidebar expand / collapse button -->
                <div class="navbar-header">
                    <a href="#" class="navbar-brand"><span class="navbar-logo">@*<img src="~/Images/tenece.png" width="200" height="20" />*@ </span> Resource Edge</a>
                    <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- end mobile sidebar expand / collapse button -->
                <!-- begin header navigation right -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form full-width">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter keyword" />
                                <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
                            <i class="fa fa-bell-o"></i>
                            <span class="label">5</span>
                        </a>
                        <ul class="dropdown-menu media-list pull-right animated fadeInDown">
                            <li class="dropdown-header">Notifications (5)</li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="fa fa-bug media-object bg-red"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Server Error Reports</h6>
                                        <div class="text-muted f-s-11">3 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><img src="~/assets/AdminTemplate/assets/img/user-1.jpg" class="media-object" alt="" /></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">John Smith</h6>
                                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                        <div class="text-muted f-s-11">25 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><img src="~/assets/AdminTemplate/assets/img/user-2.jpg" class="media-object" alt="" /></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Olivia</h6>
                                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                        <div class="text-muted f-s-11">35 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="fa fa-plus media-object bg-green"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading"> New User Registered</h6>
                                        <div class="text-muted f-s-11">1 hour ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="fa fa-envelope media-object bg-blue"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading"> New Email From John</h6>
                                        <div class="text-muted f-s-11">2 hour ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-footer text-center">
                                <a href="javascript:;">View more</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
                            <i class="fa fa-bell-o"></i>
                            <span class="label">5</span>
                        </a>
                        <ul class="dropdown-menu media-list pull-right animated fadeInDown">
                            <li class="dropdown-header">Notifications (5)</li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="fa fa-bug media-object bg-red"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Server Error Reports</h6>
                                        <div class="text-muted f-s-11">3 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><img src="~/assets/AdminTemplate/assets/img/user-1.jpg" class="media-object" alt="" /></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">John Smith</h6>
                                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                        <div class="text-muted f-s-11">25 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><img src="~/assets/AdminTemplate/assets/img/user-2.jpg" class="media-object" alt="" /></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Olivia</h6>
                                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                        <div class="text-muted f-s-11">35 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="fa fa-plus media-object bg-green"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading"> New User Registered</h6>
                                        <div class="text-muted f-s-11">1 hour ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="fa fa-envelope media-object bg-blue"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading"> New Email From John</h6>
                                        <div class="text-muted f-s-11">2 hour ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-footer text-center">
                                <a href="javascript:;">View more</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
                            <i class="fa fa-bell-o"></i>
                            <span class="label">5</span>
                        </a>
                        <ul class="dropdown-menu media-list pull-right animated fadeInDown">
                            <li class="dropdown-header">Notifications (5)</li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="fa fa-bug media-object bg-red"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Server Error Reports</h6>
                                        <div class="text-muted f-s-11">3 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><img src="~/assets/AdminTemplate/assets/img/user-1.jpg" class="media-object" alt="" /></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">John Smith</h6>
                                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                        <div class="text-muted f-s-11">25 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><img src="~/assets/AdminTemplate/assets/img/user-2.jpg" class="media-object" alt="" /></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Olivia</h6>
                                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                        <div class="text-muted f-s-11">35 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="fa fa-plus media-object bg-green"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading"> New User Registered</h6>
                                        <div class="text-muted f-s-11">1 hour ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="fa fa-envelope media-object bg-blue"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading"> New Email From John</h6>
                                        <div class="text-muted f-s-11">2 hour ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-footer text-center">
                                <a href="javascript:;">View more</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown navbar-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="~/assets/AdminTemplate/assets/img/user-13.jpg" alt="" />

                            <span class="hidden-xs">@FullName</span> <b class="caret"></b>
                          
                        </a>
                        <ul class="dropdown-menu animated fadeInLeft">
                            <li class="arrow"></li>
                            <li><a href="javascript:;">Edit Profile</a></li>
                            <li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>
                            <li><a href="javascript:;">Calendar</a></li>
                            <li><a href="javascript:;">Setting</a></li>
                            <li class="divider"></li>
                            <li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a href="javascript:document.getElementById('logoutForm').submit()" style="text-decoration:none; font-weight:bold" class="btn btn-block font-dark">Log Out </a>
                                    }
                                }
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- end header navigation right -->
            </div>
            <!-- end container-fluid -->
        </div>
        <!-- end #header -->
        <!-- begin #sidebar -->
        <div id="sidebar" class="sidebar">
            <!-- begin sidebar scrollbar -->
            <div data-scrollbar="true" data-height="100%">
                <!-- begin sidebar user -->
                <ul class="nav">
                    <li class="nav-profile">
                        <div class="image">
                            <a href="javascript:;"><img src="~/assets/AdminTemplate/assets/img/user-13.jpg" alt="" /></a>
                        </div>
                        <div class="info">
                            @FullName
                            <small>@BusinessUnit</small>
                        </div>
                    </li>
                </ul>
                <!-- end sidebar user -->
                <!-- begin sidebar nav -->
                <ul class="nav">
                    <li class="nav-header">Navigation</li>
                    @if (User.IsInRole("HR") || User.IsInRole("System Admin") || User.IsInRole("Super Admin"))
                    {
                        <li class="has-sub">
                            <a href="javascript:;">
                                <b class="caret pull-right"></b>
                                <i class="fa fa-laptop"></i>
                                <span>Employee Configuration</span>
                            </a>
                            <ul class="sub-menu">
                                @if (User.IsInRole("HR") || User.IsInRole("System Admin") || User.IsInRole("Super Admin"))
                                {
                                    if (User.IsInRole("Super Admin"))
                                    {
                                        <li>
                                            @Html.ActionLink("All Admin", "Index", "admin", null, new { @class = "nav-link  title" })
                                        </li>
                                    }
                                <li>
                                    @Html.ActionLink("Add Employee", "Create", "HR", null, new { @class = "nav-link  title" })
                                </li>
                                        <li>
                                            @Html.ActionLink("All Employee", "Index", "Employee", null, new { @class = "nav-link  title" })
                                        </li>
                                }
                                @if (User.IsInRole("HR") || User.IsInRole("System Admin"))
                                {
                                <li class="has-sub">
                                    <a href = "javascript:;" ><b class="caret pull-right"></b>Managers</a>
                                    <ul class="sub-menu">
                                        <li>@Html.ActionLink("Department Head", "AllDepartmentHead", "Employee")</li>
                                        <li>@Html.ActionLink("Report Managers", "AllUnitHead", "Employee", null, new { @class = "nav-link  title" })</li>
                                    </ul>
                                </li>
                                 }
                                @if (User.IsInRole("HR"))
                                {
                                <li>
                                    @Html.ActionLink("Employee KPI(s)", "AllQuestions", "HR", null, new { @class = "nav-link  title" })
                                </li>
                                }
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("HR"))
                    {
                        <li class="has-sub">
                            <a href="javascript:;">
                                <b class="caret pull-right"></b>
                                <i class="fa fa-inbox"></i>
                                <span>Leave Management</span>
                            </a>
                            <ul class="sub-menu">
                                <li>@Html.ActionLink("All Leaves", "AllEmployeeLeave", "Leave", null, new { @class = "nav-link  title" })</li>
                                <li>@Html.ActionLink("Allot Leave", "AllotLeaves", "Leave", null, new { @class = "nav-link  title" })</li>
                                <li>@Html.ActionLink("All Request", "AllLeaveRequest", "Leave", null, new { @class = "nav-link  title" })</li>
                                <li class="has-sub">
                                    <a href="javascript:;"><b class="caret pull-right"></b>Leave Configuration</a>
                                    <ul class="sub-menu">
                                        <li>@Html.ActionLink("All Leave Type", "AllLeaveType", "Configuration", null, new { @class = "nav-link  title" })</li>
                                        <li>@Html.ActionLink("Add Leave Type", "AddLeaveType", "Configuration", null, new { @class = "nav-link  title" })</li>
                                    </ul>
                                </li>

                            </ul>

                        </li>
                    }
                    @if (User.IsInRole("Manager"))
                    {
                        <li class="has-sub">
                            <a href="javascript:;">
                                <b class="caret pull-right"></b>
                                <i class="fa fa-inbox"></i>
                                <span>Employee Management</span>
                            </a>
                            <ul class="sub-menu">
                                <li>@Html.ActionLink("Performance Indicator", "addQuestion", "Employee", null, new { @class = "nav-link  title" })</li>
                                <li>@Html.ActionLink("Leave Requests", "leaveRequests", "Leave", null, new { @class = "nav-link  title" })</li>

                            </ul>

                        </li>
                    }
                    @if (!User.IsInRole("System Admin") && !User.IsInRole("Super Admin"))
                    {
                        <li class="has-sub">
                            <a href="javascript:;">
                                <span class="caret pull-right"></span>
                                <i class="fa fa-inbox"></i>
                                <span>Self Service</span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    @Html.ActionLink("Leave Dashboard", "Leave", "SelfService", null, new { @class = "nav-link  title" })
                                </li>
                                <li>
                                    @Html.ActionLink("Request Leave", "RequestLeave", "SelfService", null, new { @class = "nav-link  title" })
                                </li>
                                <li>
                                    @Html.ActionLink("My Incident(s)", "MyIncident", "SelfService", null, new { @class = "nav-link  title" })
                                </li>


                            </ul>
                        </li>
                    }

                    @if (User.IsInRole("HR") || User.IsInRole("Head HR"))
                    {
                        <li class="has-sub">
                            <a href="javascript:;">
                                <b class="caret pull-right"></b>
                                <i class="fa fa-suitcase"></i>
                                <span>Appraisals Management</span>
                            </a>
                            <ul class="sub-menu">

                                <li>
                                    @Html.ActionLink("Employee Questions", "AddedQuestions", "HR", null, new { @class = "nav-link  title" })
                                </li>
                                @if(User.IsInRole("Head HR"))
                                {
                                <li>
                                    @Html.ActionLink("All Intitialized Appraisal", "Index", "Appraisal", null, new { @class = "nav-link  title" })
                                </li>
                                 }
                                <li>
                                    @Html.ActionLink("Configure Appraisal", "ConfigureAppraisal", "Appraisal", null, new { @class = "nav-link  title" })
                                </li>
                            </ul>
                        </li>
                    }
@if (User.IsInRole("HR"))
{
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-laptop"></i>
                            <span>Requisition Manager</span>
                        </a>
                        <ul class="sub-menu">
                         
                                <li>@Html.ActionLink("Openings/Position", "Index", "Recruitment", null, new { @class = "nav-link  title" })</li>
                                <li class="has-sub">
                                    <a href="javascript:;"><b class="caret pull-right"></b>Requisition Management</a>
                                    <ul class="sub-menu">
                                        <li>
                                            @Html.ActionLink("Add Requisition", "Create", "Recruitment", null, new { @class = "nav-link  title" })
                                        </li>
                                    </ul>
                                </li>

                                <li class="has-sub">
                                    <a href="javascript:;"><b class="caret pull-right"></b>Candidates</a>
                                    <ul class="sub-menu">
                                        <li>@Html.ActionLink("All Candidate", "AllCandidate", "Recruitment", null, new { @class = "nav-link  title" })</li>
                                        <li class="has-sub">
                                            <a href="javascript:;"><b class="caret pull-right"></b>Candidates Management</a>
                                            <ul class="sub-menu">
                                                <li>@Html.ActionLink("Candidate for interview", "AllCandidateForInterview", "Recruitment", null, new { @class = "nav-link  title" })</li>
                                                <li>@Html.ActionLink("Selected Candidates", "SelectedCandidates", "Recruitment", null, new { @class = "nav-link  title" })</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    @Html.ActionLink("Interviews", "AllInterview", "Recruitment", null, new { @class = "nav-link  title" })
                                </li>
                            
                            @if (User.IsInRole("Location Head") || User.IsInRole("Manager"))
                            {
                                <li>@Html.ActionLink("All Requisition(s)", "AllRequisition", "Recruitment", null, new { @class = "nav-link  title" })</li>
                            }
                        </ul>
                    </li>
}
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-laptop"></i>
                            <span>Asset Management</span>
                        </a>
                        <ul class="sub-menu">
                            @if (User.IsInRole("HR") || User.IsInRole("System Admin") || User.IsInRole("Super Admin"))
                            {
                                <li>@Html.ActionLink("All Asset", "Index", "Asset", null, new { @class = "nav-link  title" })</li>
                                <li>@Html.ActionLink("All Category", "AllAssetCategory", "Asset", null, new { @class = "nav-link  title" })</li>
                            }
                            @if (User.IsInRole("HR"))
                            {
                                <li>@Html.ActionLink("All Request", "AllRequest", "Asset", null, new { @class = "nav-link  title" })</li>
                            }
                            @if(!User.IsInRole("Super Admin"))
                            {
                            <li> @Html.ActionLink("Request Asset", "RequestAsset", "Asset", null, new { @class = "nav-link  title" })</li>
                            }
                         @*   <li>@Html.ActionLink("All Request", "AllRequest", "Asset", null, new { @class = "nav-link  title" })</li>*@
                        </ul>
                    </li>
                    @if (User.IsInRole("System Admin") || User.IsInRole("HR") || User.IsInRole("Super Admin"))
                    {
                        <li class="has-sub">
                            <a href="javascript:;">
                                <b class="caret pull-right"></b>
                                <i class="fa fa-laptop"></i>
                                <span>Configuration Manager</span>
                            </a>
                            <ul class="sub-menu">
                                @if (User.IsInRole("Super Admin"))
                                {
                                    
                                    <li>
                                        @Html.ActionLink("All Group", "AllGroup", "Configuration", null, new { @class = "nav-link  title" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("All Identity Code", "AllCodes", "Configuration", null, new { @class = "nav-link title" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("All Location", "AllLocation", "Configuration", null, new { @class = "nav-link  title" })
                                    </li>
                                  
                                }
                                @if(User.IsInRole("System Admin"))
                                {
                                    <li>
                                        @Html.ActionLink("All Job", "AllJob", "Configuration", null, new { @class = "nav-link  title" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("All Business Unit", "allBusinessUnits", "Configuration", null, new { @class = "nav-link  title" })
                                    </li>

                                   }
                                <li>
                                    @Html.ActionLink("All Department", "AllDepartment", "Configuration", null, new { @class = "nav-link  title" })
                                </li>
                                <li>
                                    @Html.ActionLink("All Level", "AllLevel", "Configuration", null, new { @class = "nav-link  title" })
                                </li>

                                <li>
                                    @Html.ActionLink("All Position", "Allposition", "Configuration", null, new { @class = "nav-link  title" })
                                </li>
                                <li>
                                    @Html.ActionLink("All Employment Status", "AllEmploymentStatus", "Configuration", null, new { @class = "nav-link  title" })
                                </li>
                                <li>
                                    @Html.ActionLink("All Prefix", "AllPrefix", "Configuration", null, new { @class = "nav-link  title" })
                                </li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("HR") || User.IsInRole("System Admin"))
                    {
                        <li class="has-sub">
                            <a href="javascript:;">
                                <b class="caret pull-right"></b>
                                <i class="fa fa-laptop"></i>
                                <span>Disciplinary manager</span>
                            </a>
                            <ul class="sub-menu">
                                <li class="has-sub">
                                    <a href="javascript:;"><b class="caret pull-right"></b>Configuration</a>
                                    <ul class="sub-menu">
                                        <li>@Html.ActionLink("All Violation(s)", "allViolation", "Discipline", null, new { @class = "nav-link  title" })</li>
                                        <li>@Html.ActionLink("All Consequence(s)", "allConsequence", "Discipline", null, new { @class = "nav-link  title" })</li>
                                    </ul>
                                </li>

                                <li>@Html.ActionLink("All Incident", "AllIncident", "Discipline", null, new { @class = "nav-link  title" })</li>
                                @*<li>@Html.ActionLink("All Category", "AllAssetCategory", "Asset", null, new { @class = "nav-link  title" })</li>*@
                            </ul>
                        </li>
                    }
                    @*<li class="has-sub active">
                        <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="fa fa-file-o"></i>
                        <span>Form Stuff</span>
                        </a>
                        <ul class="sub-menu">
                        <li><a href="form_elements.html">Form Elements</a></li>
                        <li><a href="form_plugins.html">Form Plugins</a></li>
                        <li><a href="form_slider_switcher.html">Form Slider + Switcher</a></li>
                        <li><a href="form_validation.html">Form Validation</a></li>
                        <li><a href="form_wizards.html">Wizards</a></li>
                        <li class="active"><a href="form_wizards_validation.html">Wizards + Validation</a></li>
                        <li><a href="form_wysiwyg.html">WYSIWYG</a></li>
                        <li><a href="form_editable.html">X-Editable</a></li>
                        <li><a href="form_multiple_upload.html">Multiple File Upload</a></li>
                        </ul>
                        </li>*@
                    <!-- begin sidebar minify button -->
                    <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
                    <!-- end sidebar minify button -->
                </ul>
                <!-- end sidebar nav -->
            </div>
            <!-- end sidebar scrollbar -->
        </div>
        <div class="sidebar-bg"></div>
        <!-- end #sidebar -->
        <!-- begin #content -->
        <div id="content" class="content">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb pull-right">
                <li>@action.ToLower()</li>
                <li>@controller.ToLower()</li>
                @if (UrlName != null)
                {
                    if (UrlName.Length == 3)
                    {
                        <li>@Html.ActionLink(UrlName[1], UrlName[2], UrlName[1])</li>
                    }
                    if (UrlName.Length == 4)
                    {
                        <li>@Html.ActionLink(UrlName[2], UrlName[3], UrlName[2])</li>
                    }
                }

            </ol>
            <!-- end breadcrumb -->
            <!-- begin page-header -->
            @*<h1 class="page-header">Wizards + Validation <small>header small text goes here...</small></h1>*@
            <!-- end page-header -->
            <!-- begin row -->
            <div class="row">
                <!-- begin col-12 -->
                <div class="col-md-12">
                    <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>

                            </div>
                            <h4 class="panel-title">@ViewBag.PageTitle</h4>
                        </div>
                        <div class="panel-body">
                            @Html.Partial("_Notifications")
                            @RenderBody()

                        </div>
                    </div>
                    <!-- end panel -->
                </div>
                <!-- end col-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end #content -->
        <!-- begin theme-panel -->
        <div class="theme-panel">
            <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
            <div class="theme-panel-content">
                <h5 class="m-t-0">Resource Edge</h5>
                <ul class="theme-list clearfix">
                    <li class="active"><a href="javascript:;" class="bg-green" data-theme="default" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-red" data-theme="red" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-blue" data-theme="blue" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-purple" data-theme="purple" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-orange" data-theme="orange" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-black" data-theme="black" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Black">&nbsp;</a></li>
                </ul>
                <div class="divider"></div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Header Styling</div>
                    <div class="col-md-7">
                        <select name="header-styling" class="form-control input-sm">
                            <option value="1">default</option>
                            <option value="2">inverse</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label">Header</div>
                    <div class="col-md-7">
                        <select name="header-fixed" class="form-control input-sm">
                            <option value="1">fixed</option>
                            <option value="2">default</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Sidebar Styling</div>
                    <div class="col-md-7">
                        <select name="sidebar-styling" class="form-control input-sm">
                            <option value="1">default</option>
                            <option value="2">grid</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label">Sidebar</div>
                    <div class="col-md-7">
                        <select name="sidebar-fixed" class="form-control input-sm">
                            <option value="1">fixed</option>
                            <option value="2">default</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Sidebar Gradient</div>
                    <div class="col-md-7">
                        <select name="content-gradient" class="form-control input-sm">
                            <option value="1">disabled</option>
                            <option value="2">enabled</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Content Styling</div>
                    <div class="col-md-7">
                        <select name="content-styling" class="form-control input-sm">
                            <option value="1">default</option>
                            <option value="2">black</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-12">
                        <a href="#" class="btn btn-inverse btn-block btn-sm" data-click="reset-local-storage"><i class="fa fa-refresh m-r-3"></i> Reset Local Storage</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end theme-panel -->
        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    </div>
    <!-- end page container -->
    <!-- ================== BEGIN BASE JS ================== -->

    <script src="~/assets/AdminTemplate/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    @*<script src="~/Scripts/jquery.blockUI.js"></script>
        <script src="~/assets/AdminTemplate/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
        <script src="~/assets/AdminTemplate/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
        <script src="~/assets/AdminTemplate/assets/plugins/bootstrap/js/bootstrap.min.js"></script>*@
    <!--[if lt IE 9]>
        <script src="~/assets/AdminTemplate/assets/crossbrowserjs/html5shiv.js"></script>
        <script src="~/assets/AdminTemplate/assets/crossbrowserjs/respond.min.js"></script>
        <script src="~/assets/AdminTemplate/assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    @*<script src="~/assets/AdminTemplate/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="~/assets/AdminTemplate/assets/plugins/jquery-cookie/jquery.cookie.js"></script>*@
    @Scripts.Render("~/assets/BaseJs")
    <!-- ================== END BASE JS ================== -->
    @*<script src="~/Scripts/Pages/JS/EdgeValidation.js"></script>
        <script src="~/assets/AdminTemplate/assets/plugins/parsley/dist/parsley.js"></script>*@
    @RenderSection("Scripts", required: false)
    <script src="~/assets/AdminTemplate/assets/js/apps.min.js"></script>
    @RenderSection("Scrpit2", required: false)
    <script src="~/Scripts/Pages/AlertInterceptors.js"></script>
    <script>
        $(document).ready(function () {
            App.init();
            $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
        });
    </script>
    @RenderSection("InitScript", required: false);
</body>
</html>
