@model IEnumerable<resourceEdge.webUi.Infrastructure.Core.EmployeeListItem>

@{
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
}
@section css{

    @Styles.Render("~/asset/tablecss");
}
<table class="table table-striped table-responsive table-bordered">
    @if (!User.IsInRole("Super Admin"))
    {

    <tr>
        <td>
            @Html.ActionLink("Assign Head", "AssignReportManager", "HR", null, new { @class = "btn btn-info pull-right" })
        </td>
    </tr>
    }
    <tr>
        <td>
            <table class="table table-striped table-bordered display table-responsive" id="tblGeneral">
                <thead>
                    <tr>
                        <th>
                            Group
                        </th>
                        <th>
                            Location
                        </th>
                        <th>
                            Business Unit
                        </th>
                        <th>
                            Department
                        </th>
                        <th>
                            Fullname
                        </th>

                        <th>
                            Email
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.GroupName</td>
                            <td>@item.LocationName</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BusinessUnitName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DepartmentName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.empEmail)
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
            </td>
        </tr>
    </table>
            @section Scripts{
                @Scripts.Render("~/assets/Table");
                <script src="~/Scripts/Pages/JS/DataTableInitialization.js"></script>
            }
