@model resourceEdge.Domain.Entities.prefixViewModel
@{
    Layout = ViewBag.Layout;
}


<div id="prefixContent">
    <div class="modal-body" id="pre">
        @using (Ajax.BeginForm("addPrefix", "Configuration", new { returnurl = ViewBag.returnUrl }, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "body" }))
            {

            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Prefix Name", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.prefixName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.prefixName, "", new { @class = "text-danger" })
                </div>
            </div>

                    <div class="col-md-6">
                        <div class="form-group">
                             @Html.Label("Description", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div style="clear:both"><span></span></div>
                    <hr />

                    <div class="pull-right" style="">
                        <input type="submit" class="btn btn-success" value="Create">
                    </div>

        }
    </div>
</div>
