@model IEnumerable<resourceEdge.Domain.Entities.Jobtitles>

@{
    ViewBag.Title = "allJob";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>allJob</h2>

<p>
    @Html.ActionLink("New jobTitle", "AddJobTitle")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.jobtitlecode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jobtitlename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jobdescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.minexperiencerequired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jobpaygradecode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jobpayfrequency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdby)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modifiedby)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createddate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modifieddate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isactive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.jobtitlecode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jobtitlename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jobdescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.minexperiencerequired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jobpaygradecode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jobpayfrequency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdby)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modifiedby)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createddate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modifieddate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isactive)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.JobId }) |
            @Html.ActionLink("Details", "Details", new { id=item.JobId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JobId })*@
        </td>
    </tr>
}

</table>
