@model resourceEdge.Domain.Entities.Asset

<div>
    <dl class="dl-horizontal">
        <dd>
            <img src="@Url.Content(Model.ImageUrl)" class="img-responsive img-circle pull-right" alt="No image for this asset">
        </dd>
            <dt>
                Category
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AssetCategory.Name)
            </dd>

            <dt>
              Group
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Group.GroupName)
            </dd>

            <dt>
               Location
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location.State)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
               Serial number
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SerialNumber)
            </dd>
       
    </dl>
</div>