@model resourceEdge.Domain.Entities.Asset
@{ 
    var imageUrl = Model.ImageUrl != null? Model.ImageUrl : "";
}
<div>
    <dl class="dl-horizontal">
        <dd>
            @if (Model.ImageUrl != null)
            {
                <img src="@Url.Content(imageUrl)" class="img-responsive pull-right" height="50" width="200" alt="@Model.Name">
            }
            else
            {
                <img src="" class="img-responsive pull-right" height="50" width="200" alt="No image for this asset">
            }

        </dd>
            <dt>
                Category
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AssetCategory.Name)
            </dd>

            <dt>
              Group
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Group.GroupName)
            </dd>

            <dt>
               Location
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location.State)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
               Serial number
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SerialNumber)
            </dd>
       
    </dl>
</div>