@model IEnumerable<resourceEdge.Domain.Entities.Asset>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
}
@section Css{
    <style>
    #modaldia{
    /*width: ;*/
    margin: auto;
    vertical-align: middle;
    margin-top:50px;
    }
    </style>
@Styles.Render("~/asset/tablecss");
}

<div class="table-responsive">

<table class="table table-responsive table-striped table-bordered">
    @if(User.IsInRole("System Admin") || User.IsInRole("HR"))
    {
    <tr>
        <td>
            @Html.ActionLink("Add Asset", "AddAsset", "Asset", null, new { @class = "btn btn-info pull-right" })
        </td>
    </tr>
    }
    <tr>
        <td>

            <table class="table table-responsive table-striped table-bordered" id="tblGeneral">
                <thead>
                <tr>
                    <th>
                        Category
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Serial Number
                    </th>
                    <th>
                        In Use?
                    </th>
                    <th></th>
                </tr>

                </thead>
                <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssetCategory.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SerialNumber)
                        </td>
                        @if (item.IsInUse == true)
                        {
                            <td>Yes</td>
                        }
                        else
                        {
                            <td>No</td>
                        }
                        <td>
                            <table class="pull-right">
                                <tr>
                                    <td class="pull-left">@Html.ActionLink("Edit", "EditAsset", "Asset", new { id = item.ID }, new { @class = "btn btn-warning pull-right" })</td>
                                    <td>
                                    <table class="">
                                        <tr>
                                            <td class="table-records-info pull-right">
                                                <button type="button" id="" onclick="GetAssetDetail(@item.ID)" data-id="@item.ID " class="btn btn-info detail">Detail</button> 
                                            </td>
                                        </tr>
                                    </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                }
                </tbody>

            </table>
            <input class="hidden" type="hidden" id="mLength" value="@Model.Count()" data-id="@Model.Count()">
        </td>
    </tr>
</table>
    </div>

<div class="table-responsive">

    <div class="modal" id="modal-without-animation" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" id="modaldia" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Asset Detail</h4>
                </div>
                <div class="modal-body" id="mBody">

                </div>
                <div class="modal-footer">
                    <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <script>
        function GetAssetDetail(id) {
            console.log("Method entered");
            $.ajax({
                type: 'GET',
                url: '/asset/AssetDetail/' + id,
                contentType: "application/html; charset=utf-8",
                //dataType: "json",
                success: function (data) {
                    console.log('in the GetempLeaveAmount method');
                    console.log(data);
                    if (data != null) {
                        //console.log(data.asset.ImageUrl)
                        $('#img').empty();
                        $('#mBody').html(data
                            )
                        $('#modal-without-animation').modal('show');
                    } else {
                        $('#AvailableLeave').html("No leave for you yet.")
                        $('#AvailableLeave').val("No leave for you yet");
                        $('#btnSubmit').prop('disabled', true);
                        //write the jquery to check agaist JQHxr
                    }
                },
                failure: function () {
                    var message = {
                        message: "Failed to load data... Try again later"
                    };
                    $('#AvailableLeave').val('No Leave found');
                }
            })
        };

        $('#detail').on('click', function () {
            var id = $('.detail').attr('data-Id');
            console.log(id);
            //GetAssetDetail($('#item')[0].innerText);
            GetAssetDetail(id);
        });

    </script>
@Scripts.Render("~/assets/Table");
<script src="~/Scripts/Pages/JS/DataTableInitialization.js"></script>
    }