@model IEnumerable<resourceEdge.Domain.Entities.Asset>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
}
<div class="table-responsive">

<table class="table table-responsive table-striped table-bordered">
    <tr>
        <td>
            @Html.ActionLink("Add Asset", "AddAsset", "Asset", null, new { @class = "btn btn-info pull-right" })
        </td>
    </tr>
    <tr>
        <td>

            <table class="table table-responsive table-striped table-bordered">
                <tr>
                    <th>
                        Category
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Serial Number
                    </th>
                    <th>
                        In Use?
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssetCategory.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SerialNumber)
                        </td>
                        @if (item.IsInUse == true)
                        {
                            <td>Yes</td>
                        }
                        else
                        {
                            <td>No</td>
                        }
                        <td>
                            <table class="pull-right">
                                <tr>
                                    <td>@Html.ActionLink("Edit", "EditAsset","Asset", new { id = item.ID }, new { @class = "btn btn-warning pull-right" })</td>
                                    @*<td>@Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info" })</td>*@
                                </tr>
                            </table>
                        </td>
                    </tr>
                }

            </table>

        </td>
    </tr>
</table>
    </div>
