@model IEnumerable<resourceEdge.Domain.Entities.RequestAssetViewModel>

@{
    ViewBag.Title = "AllRequest";
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
}
@section css{

    @Styles.Render("~/asset/tablecss");
}
<div class="table-responsive">
    <table class="table table table-responsive table-bordered table-striped">
        <tr>
            <td>@Html.ActionLink("Add Request", "RequestAsset", "Asset", null, new { @class = "btn btn-info pull-right" })</td>
        </tr>
        <tr>
            <td>
                <table class="table table table-responsive table-bordered table-striped" id="tblGeneral">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>
                                Name
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Amount)
                            </th>
                            <th>
                                Due Date
                            </th>
                            <th>
                                Requested By
                            </th>
                            <th>
                                Created By
                            </th>
                            <th></th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                </td>
                                <td>@item.AssetName</td>
                                <td>
                                    @item.Amount
                                </td>
                                @if (item.DueTime != null)
                                {
                                    <td>
                                        @item.DueTime.Value.ToLongDateString()
                                    </td>
                                }
                                else
                                {
                                    <td>Ask for due time</td>
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => item.RequestedBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedByFullName)
                                </td>
                                <td>
                                    <table class="pull-right">

                                        <tr>
                                            @if (item.IsResolved == true)
                                            {
                                                <td>
                                                    <span class="label label-success centered">Accepted</span>
                                                </td>
                                            }
                                            else if (item.IsResolved == false)
                                            {
                                                <td>
                                                    <span class="label label-danger centered">Denied</span>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <span class="label label-warning centered">Waiting Response</span>
                                                </td>

                                            }
                                        </tr>



                                    </table>
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>

            </td>
        </tr>
    </table>
</div>

@section Scripts{
    <script>
        function ConfirmDelete() {
            var answer = confirm("Do you really want to delete this request? \nNote this Request will be deleted");
            console.log("alert");
            console.log(answer);
            if (answer == true) {
                return true;
            }
            return false;
        }
    </script>
    @Scripts.Render("~/assets/Table");
    <script src="~/Scripts/Pages/JS/DataTableInitialization.js"></script>

}
