@model IEnumerable<resourceEdge.Domain.Entities.products>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/mainLayout2.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="~/Plugins/Css/bootstrap-modal-bs3patch.css" rel="stylesheet" />
    <link href="~/Plugins/Css/bootstrap-modal.css" rel="stylesheet" />
}

@if ((string)TempData["Success"] != null)
{
    string message = TempData["Success"].ToString();
    <div class="alert alert-success" style="text-align : center">@message</div>
}

@Html.Action("AddJobTitle", "Configuration", new { returnUrl = Request.Url.PathAndQuery })
@Html.Action("addPosition", "Configuration", new { returnUrl = Request.Url.PathAndQuery })
@Html.Action("AddCode", "Configuration", new { returnUrl = Request.Url.PathAndQuery })
@Html.Action("addPrefix", "Configuration", new { returnUrl = Request.Url.PathAndQuery })
@Html.Action("addEmploymentStatus", "Configuration", new { returnUrl = Request.Url.PathAndQuery })


@section Plugins{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>*@
    <script src="~/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
    <script src="~/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js"></script>
}
@section Scripts{
    <script src="~/assets/pages/scripts/ui-extended-modals.min.js"></script>
}