@model IEnumerable<resourceEdge.webUi.Infrastructure.Core.EmployeeListItem>

@{
    ViewBag.Title = "AllQuestions";
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
}

@if (Model.Count() > 0)
{
    <table class="table">
        <tr>

            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Group")
            </th>
            <th>
                @Html.DisplayName("Business Unit")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Group.GroupName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Units.unitname)
                    </td>
                    <td>
                        @Html.ActionLink("View", "ViewQuestion", "HR", new { Id = item.userId }, null) 
                    </td>
                </tr>
            }
    </table>
}
else
{
    <div class="alert alert-danger text-center">Sorry no Questions added yet</div>

}
