@model IEnumerable<resourceEdge.Domain.Entities.Employees>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/mainlayout2.cshtml";
   // List<resourceEdge.Domain.Entities.Employees> allEmployees = Model.ToList();
    List<resourceEdge.Domain.Entities.Files> EmpImage = ViewBag.Avartar;
}
@section css{
   @* <link href="../fast.fonts.net/cssapi/487b73f1-c2d1-43db-8526-db577e4c822b.css" rel="stylesheet" type="text/css">*@
    <link href="~/assets/BowerTemplate/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />
    @*<link href="~/assets/BowerTemplate/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />*@
    @*<link href="~/assets/BowerTemplate/bower_components/dropzone/dist/dropzone.css" rel="stylesheet" />*@
    @*<link href="~/assets/BowerTemplate/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />*@
    @*<link href="~/assets/BowerTemplate/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />*@
    @*<link href="~/assets/BowerTemplate/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet" />*@
    @*<link href="~/assets/BowerTemplate/bower_components/slick-carousel/slick/slick.css" rel="stylesheet" />*@
    <link href="~/assets/BowerTemplate/css/main5f48.css" rel="stylesheet" />
    <link href="~/assets/BowerTemplate/bower_components/dragula.js/dist/dragula.min.css" rel="stylesheet" />
}
    @*<div class="all-wrapper menu-side">*@
        <div class="layout-w">
            <div class="content-i">
                <div class="content-box">
                    <div class="pipelines-w">
                        <div class="row">
                            <div class="col-lg-10 col-xxl-3">
                                <!--------------------START - Pipeline-------------------->
                                <div class="pipeline white lined-primary">
                                    <div class="pipeline-header">
                                        <h5 class="pipeline-name">All Employees</h5>
                                        <div class="pipeline-header-numbers">
                                            <div class="pipeline-value">@Model.Where(X=>X.IsUnithead == true).Count()</div>
                                            <div class="pipeline-count">@Model.Count() Employees</div>
                                        </div>
                                        <div class="pipeline-settings os-dropdown-trigger">
                                            <i class="os-icon os-icon-hamburger-menu-1"></i>
                                            <div class="os-dropdown">
                                                <div class="icon-w">
                                                    <i class="os-icon os-icon-ui-46"></i>
                                                </div>
                                                @*<ul>
                                                    <li>
                                                        <a href="#">
                                                            <i class="os-icon os-icon-ui-49"></i>
                                                            <span>Edit Record</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="os-icon os-icon-grid-10"></i>
                                                            <span>Duplicate Item</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="os-icon os-icon-ui-15"></i>
                                                            <span>Remove Item</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="os-icon os-icon-ui-44"></i>
                                                            <span>Archive Project</span>
                                                        </a>
                                                    </li>
                                                </ul>*@
                                            </div>
                                        </div>
                                    </div>
                                    @foreach (var item in Model)
                                    {
                                    <div class="pipeline-body">
                                        <div class="pipeline-item">
                                            <div class="pi-controls">
                                                <div class="pi-settings os-dropdown-trigger">
                                                    <i class="os-icon os-icon-ui-46"></i>
                                                    <div class="os-dropdown">
                                                        <div class="icon-w">
                                                            <i class="os-icon os-icon-ui-46"></i>
                                                        </div>
                                                        <ul>
                                                            <li>
                                                                <a href="@Url.Action("Edit", "Employee", new { userId = item.userId }, null)">
                                                                    <i class="os-icon os-icon-ui-49"></i>
                                                                <span>Edit Records</span>
                                                                </a>
                                                              
                                                            </li>
                                                            <li>
                                                                <a href="@Url.Action("Details", "Employee", new { id = item.empID},null)">
                                                                    <i class="os-icon os-icon-grid-10"></i>
                                                                    <span>View Details </span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                            </li>
                                                            <li>

                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="status status-green" data-placement="top" data-toggle="tooltip"
                                                     title="Active Status"></div>
                                            </div>
                                            <div class="pi-body">
                                                <div class="avatar">
                                                    @{resourceEdge.Domain.Entities.Files imageUrl = EmpImage.Find(x => x.UserId == item.userId);
                                                        if (imageUrl != null)
                                                        {
                                                            <img src="@Url.Content(imageUrl.FilePath)" />
                                                        }
                                                        else
                                                        {
                                                            <img src="" alt="No Image" />
                                                        }
                                                    }
                                                    
                                                </div>
                                                <div class="pi-info">
                                                    <div class="h6 pi-name">@item.FullName</div>
                                                    <div class="pi-sub">@item.empID</div>
                                                </div>
                                            </div>
                                            <div class="pi-foot">
                                                <div class="tags">
                                                   
                                                    

                                                    <a class="tag" href="#">@item.Departments.BusinessUnits.unitname</a>
                                                    <a class="tag" href="#">@item.Departments.deptname</a>
                                                </div>
                                                <a class="extra-info" href="#">
                                                    <i class="os-icon os-icon-mail-12"></i>
                                                    <span>8 Notes</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                       <br />
                                    }
                                </div>
                                <!--------------------END - Pipeline-------------------->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    @*</div>*@

@section Plugins{

    <script src="~/assets/BowerTemplate/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/BowerTemplate/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/assets/BowerTemplate/bower_components/dragula.js/dist/dragula.min.js"></script>
    <script src="~/assets/BowerTemplate/js/main5f48.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-42863888-9', 'auto');
        ga('send', 'pageview');
    </script>
}
