@model IEnumerable<resourceEdge.Domain.Entities.Question>

@{
    ViewBag.Title = "AllQuestions";
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
}
@section css{
    @Styles.Render("~/asset/tablecss")
    }
<table class="table table-responsive table-striped table-bordered ">
    <tr>

    </tr>
    <tr>
        <td>
            @if (Model.Count() > 0)
            {
                <table class="table table-responsive table-striped table-bordered table-hover table-checkable" id="tblGeneral">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Name")
                            </th>
                            <th>
                                @Html.DisplayName("Location")
                            </th>
                            <th>
                                @Html.DisplayName("Business Unit")
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tbody class="portlet-body">
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserFullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Location.State)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BusinessUnit.unitname)
                                </td>
                                <td>
                                    @using (Html.BeginForm("ViewQuestion", "HR", new { key = item.UserIdForQuestion }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="btn btn-success pull-right">View</button>
                                    }
                                 @*   @Html.ActionLink("View", "ViewQuestion", "HR", new { Id = item.UserIdForQuestion }, new { @class = "btn btn-success pull-right" })*@
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            }
            else
            {
                <div class="alert alert-danger text-center">Sorry no Questions added yet</div>

            }
        </td>
    </tr>
</table>

@section Scripts{
@Scripts.Render("~/assets/Table");
<script src="~/Scripts/Pages/JS/DataTableInitialization.js"></script>
}