@model IEnumerable<resourceEdge.Domain.Entities.QuestionViewModel>
@{
    ViewBag.Title = "ViewQuestion";
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
    int counter = 1;
    var modelItem = Model;
    var userToUpdate = Model.FirstOrDefault(x => x.UserId != null);

}
<div class="table-responsive">
@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped">
        <tr>
            <td class="pull-right">
                @using (Html.BeginForm("ApproveQuestion", "HR", new { userId = userToUpdate.UserId }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-success">Approve All</button><span>&nbsp;</span>
                }
           </td>
            <td class="pull-right">
                @using (Html.BeginForm("RejectQuestion", "HR", new { userId = userToUpdate.UserId }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger ">Reject All</button><span>&nbsp;</span>
                }
            </td>
        </tr>
        <tr>
            <td>
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th class="col-md-8">Questions</th>
                            <th>Descriptions</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td> @counter</td>
                                <td>@item.Question</td>
                                <td>@item.Description</td>
                                <td>
                                    <table>
                                        <tr>
                                            @if (item.Approved == null || item.Approved == false)
                                        {
                                            <td class="pull-right">
                                                @using (Html.BeginForm("ApproveQuestion", "HR", new { userId = item.UserId, QstId = item.Id }, FormMethod.Post))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <button type="submit" class="btn btn-success">Approve</button>
                                                }
                                            </td>
                                        }
                                           @if (item.Approved == null || item.Approved == true)
                                           {
                                            <td >
                                                <table class="pull-right">
                                                    <tr>
                                                        <td>
                                                            @using (Html.BeginForm("RejectQuestion", "HR", new { userId = item.UserId, QstId = item.Id }, FormMethod.Post))
                                                            {
                                                                @Html.AntiForgeryToken()
                                                                <button type="submit" class="btn btn-danger">Reject</button>
                                                            }
                                                        </td>
                                                    </tr>
                                                </table>
                                             
                                            </td>
                                           }             
                                    </tr>
                                </table>
                            </td>
                        </tr>
                            counter++;
                        }

                    </tbody>
                </table>
            </td>
        </tr>
    </table>

}
else
{
    <div class="alert alert-danger text-center bold">No Question(s) added yet</div>
}
    </div>

@section Scripts{
    
}

