@section css{
    <style>
        textarea {
            resize: none;
        }
    </style>
}

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
}
<div id="overload">

</div>

@using (Html.BeginForm("AddLocation", "Configuration", FormMethod.Post, new { returnurl = ViewBag.returnUrl, data_parsley_validate = "" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="form-horizontal" id="locationForm">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-6">
            @Html.Label("Groups", htmlAttributes: new { @class = "control-label " })
            <div>
                @Html.DropDownList("GroupId", (SelectList)ViewBag.Groups, "Select Group", htmlAttributes: new { required = "", @class = "form-control bs-select" })
                @Html.ValidationMessage("GroupId", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6">
            <label for="Country" class="control-label">Country</label>
            <input name="Country[0]" id="Country" class="form-control" required />
        </div>

        <div class="col-md-6">
            <label for="State" class="control-label">State</label>
            <input name="State[0]" id="State" class="form-control" required />
        </div>

      

        <div class="col-md-6">
            <label for="City" class="control-label">City</label>
            <input name="City[0]" id="City" class="form-control" required />
        </div>

        <div class="col-md-6">
            <label for="Address1" class="control-label">Address1</label>
            <textarea cols="2" name="Address1[0]" id="Address1" class="form-control" required></textarea>
        </div>

        <div class="col-md-6">
            <label for="Address2" class="control-label">Address2</label>
            <textarea cols="2" name="Address2[0]" id="Address2" class="form-control"></textarea>
        </div>
                <div class="col-md-12">
                    <hr />
                </div>
    </div>
    <div class="col-md-12" style="clear:both">
        @*<hr />*@
        <button type="submit" class="btn btn-success" style="clear: both"> Create</button>
        <button type="button" class="btn btn-primary blue pull-right" id="add" style="clear:both">Add New Location</button>
    </div>
}

@section Scripts{
<script src="~/Scripts/Pages/JS/Configuration/Location.js"></script>
}