@section css{
    <style>
        textarea {
            resize: none;
        }
    </style>
}

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
}
<div id="overload">
  
</div>

@using (Html.BeginForm("addPosition", "Configuration", FormMethod.Post, new { returnurl = ViewBag.returnUrl, data_parsley_validate = "" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="form-horizontal" id="positionForm">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-6">
            @Html.Label("Job Title", htmlAttributes: new { @class = "control-label " })
            <div>
                @Html.DropDownList("jobtitleid", (SelectList)ViewBag.jobTitles, "Select Job", htmlAttributes: new { data_live_search = "true", data_size = "4", @class = "form-control bs-select",reuired = "" })
                @Html.ValidationMessage("jobtitleid", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6">
            <label for="positionname" class="control-label">Name</label>
            <input name="positionname[0]" id="" class="form-control" required="" />
        </div>
        <div class="col-md-6">
            <label for="description" class="control-label">Description</label>
            <textarea cols="2" name="description[0]" id="" class="form-control"></textarea>
        </div>


        <div class="col-md-12">
            <hr />
        </div>
    </div>

    <div class="col-md-12" style="clear:both">
        <button type="submit" class="btn btn-success" style="clear:both"> Create</button>
        <button type="button" class="btn btn-primary blue pull-right" id="add" style="clear:both">Add New Position</button>        
    </div>
        }

        @section Scripts{
            <script src="~/Scripts/Pages/JS/Configuration/addPosition.js"></script>
        }
