@model IEnumerable<resourceEdge.Domain.Entities.BusinessUnits>

@{
    ViewBag.Title = "AllBusinessUnits";
    Layout = "~/Views/Shared/HRLayout.cshtml";
}

<h2>AllBusinessUnits</h2>

<p>
    @Html.ActionLink("New unit", "addBusinessUnits")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.unitname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unitcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descriptions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdby)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modifiedby)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createddate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modifieddate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isactive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.unitname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unitcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descriptions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdby)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modifiedby)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createddate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modifieddate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isactive)
        </td>
        <td>
            @Html.ActionLink("Details", "unitDetail", new { id=item.BusId }) |
            @if(User.IsInRole("System Admin")){ 
            Html.ActionLink("Edit", "EditUnit", new { id=item.BusId }) |
            @Html.ActionLink("Delete", "deleteUnit", new { id=item.BusId })
            }
        </td>
    </tr>
}

</table>
