@model IEnumerable<resourceEdge.Domain.Entities.IdentityCode>

@{
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
}

@section css{

    @Styles.Render("~/asset/tablecss");
}
<table class="table table-responsive table-bordered table-striped">
    <tr>
        <td>
            <p>
                @Html.ActionLink("Add Code", "AddCode", null, new { @class = "btn btn-success pull-right" })
            </p>
        </td>
    
    </tr>
    <tr>
        <td>
            <table class="table table-responsive table-bordered table-striped" id="tblGeneral">
                <thead>
                    <tr>
                        <th>
                            Employee Code
                        </th>
                        <th>
                            Background Agency Code
                        </th>
                        <th>
                            Vendors Code
                        </th>
                        <th>
                            Staff Code
                        </th>
                        <th>
                            User Code
                        </th>
                        <th>
                            Requisition
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.employee_code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.backgroundagency_code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.vendors_code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.staffing_code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.users_code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.requisition_code)
                            </td>
                            <td>
                                @Html.ActionLink("Edit Code", "EditCode", "Configuration", new { id = item.Id }, new { @class = "btn btn-warning" })
                            </td>
                        </tr>
                            }
                    </tbody>
                   
                </table>
            </td>

        </tr>

    </table>
@section Scripts{
    @Scripts.Render("~/assets/Table");
    <script src="~/Scripts/Pages/JS/DataTableInitialization.js"></script>
}