@model IEnumerable<resourceEdge.Domain.Entities.Departments>

@{
    ViewBag.Title = "AllDepartment";
}

<h2>AllDepartment</h2>

<p>
    @Html.ActionLink("Create New", "addDepartment")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.deptname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deptcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descriptions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.depthead)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BunitId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdby)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modifiedby)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createddate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modifieddate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isactive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.deptname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deptcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descriptions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.depthead)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BunitId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdby)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modifiedby)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createddate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modifieddate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isactive)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditDepartment", new { id=item.DeptId }) |
            @Html.ActionLink("Details", "DeptDetail", new { id=item.DeptId }) |
            @Html.ActionLink("Delete", "DeleteDepartment", new { id=item.DeptId })
        </td>
    </tr>
}

</table>
