@model IEnumerable<resourceEdge.Domain.Entities.Level>

@{
    ViewBag.Title = "AllLevel";
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
}
@section css{

    @Styles.Render("~/asset/tablecss");
}
<table class="table table-bordered table-responsive table-striped">
    @if(User.IsInRole("System Admin") || User.IsInRole("HR"))
    {
    <tr>
        <td>
            @Html.ActionLink("Add New Level", "AddLevel", "Configuration", null, new { @class = "btn btn-info pull-right" })
        </td>
    </tr>
    }
    <tr>
        <td>

            <table class="table table-bordered table-responsive table-striped" id="tblGeneral">
                <thead>
                    <tr>
                        <th>
                            Group
                        </th>
                        <th>
                            Level Number
                        </th>
                        <th>
                            Level Name
                        </th>
                        <th>
                            Eligible Years
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>
                            <td>@item.Group.GroupName</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.levelNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LevelName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EligibleYears)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Editlevel", "Configuration", new { id = item.Id }, new { @class = "btn btn-warning pull-right" })
                            </td>
                        </tr>
                    }
                </tbody>


            </table>
        </td>
    </tr>
</table>

@section Scripts{
    @Scripts.Render("~/assets/Table");
    <script src="~/Scripts/Pages/JS/DataTableInitialization.js"></script>
}