@model IEnumerable<resourceEdge.Domain.Entities.EmployeeLeaveType>

@{
    ViewBag.Title = "AllLeaveType";
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
    int no = 1;
}
<table class="table table-responsive table-striped table-bordered table-hover table-checkable">
    <tr>
        <td>
            @Html.ActionLink("Add New Leave Type", "AddLeaveType", "Configuration", null, new { @class = "btn btn-info pull-right"})
        </td>
    </tr>
    <tr>
        <td>
            <table class="table table-responsive table-striped table-bordered table-hover table-checkable">
                <thead>
                    <tr>
                        <th class="col-md-1">S/N</th>
                        <th class="col-md-3">
                            Leave Type
                        </th>
                        <th>
                            Number of Days
                        </th>
                        <th>
                            Leave Code
                        </th>
                        <th>
                            Pre-allocated
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>
                            <td>@{int sn = no++;} @sn</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.leavetype)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.numberofdays)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.leavecode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.leavepreallocated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.description)
                            </td>

                            <td>
                                @Html.ActionLink("Edit", "EditLeaveType","Configuration", new { id = item.id }, new { @class = "btn btn-warning" })
                            </td>
                        </tr>
                                }
                </tbody>

            </table>


        </td>
    </tr>
</table>


