@model IEnumerable<resourceEdge.Domain.Entities.Prefix>

@{
    ViewBag.Title = "AllPrefix";
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
}
@section css{

    @Styles.Render("~/asset/tablecss");
}
<table class="table table-bordered table-responsive table-striped">
    <tr>
        <td>
            @Html.ActionLink("Add New Prefix", "AddPrefix", "Configuration", null, new { @class = "btn btn-info pull-right" })
        </td>
    </tr>
    <tr>
        <td>
            <table class="table table-bordered table-responsive table-striped" id="tblGeneral">
                <thead>
                <tr>
                    <th>
                        Prefix Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th></th>
                </tr>

                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.prefixName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditPrefix", "Configuration", new { id = item.Id }, new { @class = "btn btn-warning" })

                        </td>
                    </tr>
                }

                </tbody>

            </table>
            </td>
</tr>
</table>
@section Scripts{
    @Scripts.Render("~/assets/Table");
    <script src="~/Scripts/Pages/JS/DataTableInitialization.js"></script>
}