@model IEnumerable<resourceEdge.Domain.Entities.Position>

@{
    ViewBag.Title = "AllPosition";
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
}
<table class="table table-bordered table-responsive table-striped">
    <tr>
        <td>
            @Html.ActionLink("Add New Position", "AddPosition", "Configuration", null, new { @class = "btn btn-info pull-right" })
        </td>
    </tr>
    <tr>
        <td>
            <table class="table table-bordered table-responsive table-striped">
                <tr>
                <tr>
                    <th>
                       Job
                    </th>
                    <th>
                       Position
                    </th>
                    <th>
                        Description
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Jobtitle.jobtitlename)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.positionname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditPosition", "Configuration", new { id = item.Id }, new { @class = "btn btn-warning" })
                        </td>
                    </tr>
                }

            </table>
        </td>
    </tr>
</table>