@model resourceEdge.Domain.Entities.Position

@{
    ViewBag.Title = "EditPosition";
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
}

@using (Html.BeginForm("EditPosition", "Configuration", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.Label("Position Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.positionname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.positionname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "AllPosition", "Configuration", null, new { @class = "btn btn-info pull-right" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
