@using resourceEdge.Domain.ViewModels
@model resourceEdge.Domain.Entities.AppraisalConfigratuionViewModel

@{
    ViewBag.Title = "ConfigueAppraisal";
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
    var location = ViewBag.Location;
    var dropDowns = (SystemViewModel)ViewBag.dropDowns;
}

<span id="group">@ViewBag.groupId</span>
@using (Html.BeginForm("ConfigureAppraisal", "Appraisal", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.BusinessUnit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.BusinessUnit, dropDowns.BusinessUnits,"Select Business unit",  htmlAttributes:  new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.BusinessUnit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Department" id="departmentId" class="form-control" required></select>
                @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AppraisalStatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AppraisalStatus,dropDowns.Status, htmlAttributes: new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.AppraisalStatus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EnableTo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.EnableTo, "Enable To", htmlAttributes: new { data_live_search = "true", data_size = "4", @class = "form-control bs-select " })
                 @Html.ValidationMessageFor(model => model.EnableTo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Eligibility, "Select Eligibility", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Eligibility, dropDowns.EmploymentStatus,"Select Eligibity", new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.Eligibility, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Parameters, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Parameters, dropDowns.Parameter, "Select Parameter", new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.Parameters, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Pages/JS/Appraisal/Configuration.js"></script>
}
