@using resourceEdge.Domain.ViewModels
@model resourceEdge.Domain.Entities.AppraisalConfigratuionViewModel

@{ 
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
    var usersessionObject = (resourceEdge.webUi.Models.SessionModel)Session["_ResourceEdgeTeneceIdentity"];
    var dropDowns = (SystemViewModel)ViewBag.dropDowns;
}

@section css{
    <link href="~/assets/AdminTemplate/assets/plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/plugins/parsley/src/parsley.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/plugins/ionRangeSlider/css/ion.rangeSlider.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/plugins/ionRangeSlider/css/ion.rangeSlider.skinNice.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/plugins/ionRangeSlider/css/ion.rangeSlider.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/plugins/ionRangeSlider/css/ion.rangeSlider.skinNice.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/plugins/password-indicator/css/password-indicator.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/plugins/bootstrap-combobox/css/bootstrap-combobox.css" rel="stylesheet" />


    <link href="~/assets/AdminTemplate/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
    }
<span id="group" hidden>@usersessionObject.GroupId</span>
@using (Html.BeginForm("ConfigureAppraisal", "Appraisal", FormMethod.Post, new { data_parsley_validate = "true", name = "form-wizard" }))
{
                                @Html.AntiForgeryToken()
                                <div id="wizard">
                                    <ol>
                                        <li>
                                            Initialization
                                            <small>Initialize appraisal for Business Unit or Department and enable to Managers or Employees</small>
                                        </li>
                                        <li>
                                            Configure Line Managers
                                            <small>Configure Line Managers by using The Group, Units or the Deparemental Heads</small>
                                        </li>
                                        <li>
                                            Configure Appraisal Parameters
                                            <small>Set the Appraisal parameters for an Employee, Department or a Business Unit </small>
                                        </li>
                                    </ol>
                                    <!-- begin wizard step-1 -->
                                    <div class="wizard-step-1">
                                        <fieldset>
                                            <legend class="pull-left width-full">CONFIGURE UNIT</legend>
                                            <!-- begin row -->
                                            <div class="row">
                                                <!-- begin col-4 -->
                                                <div class="col-md-4">
                                                    <div class="form-group block1">
                                                        <label>BusinessUnit</label>
                                                        @Html.DropDownList("BusinessUnit", dropDowns.BusinessUnits,"Select Unit", htmlAttributes: new { @class="form-control selectpicker", data_size="10", data_live_search="true", data_style="btn-white"})
                                                        @Html.ValidationMessage("BusinessUnit", "", new { @class = "text-danger" })                   
                                                    </div>
                                                </div>
                                                <!-- end col-4 -->
                                                <!-- begin col-4 -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Department</label>
                                                       <select name="Department" id="departmentId" class="form-control selectpicker" data-size="10" data-live-search="true" data-style="btn-white" , data-parsley-group= "wizard-step-1" required = "required">
                                                        </select>
                                                        </div>
                                                </div>
                                                <!-- end col-4 -->
                                                <!-- begin col-4 -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Appraisal Status</label>
                                                       @Html.DropDownList("AppraisalStatus", dropDowns.Status,"Select status", htmlAttributes: new { @class="form-control selectpicker", data_size="10", data_live_search="true", data_style="btn-white", data_parsley_group = "wizard-step-1", required = "", })
                                                    </div>
                                                </div>
                                                <!-- end col-4 -->

                                                <!-- begin col-4 -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Enable To</label>
                                                        @Html.DropDownList("EnableTo",EnumHelper.GetSelectList(typeof(resourceEdge.Domain.Infrastructures.EnableTo)), "Select", htmlAttributes: new { @class = "form-control selectpicker", data_size = "10", data_live_search = "true", data_style = "btn-white", data_parsley_group= "wizard-step-1", required = "", name= "EnableTo" })
                                                    </div>
                                                </div>
                                                <!-- end col-4 -->
                                                <!-- begin col-4 -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Eligibility</label>
                                                          @Html.DropDownList("Eligibility", dropDowns.EmploymentStatus, "All", htmlAttributes: new { @class = "form-control selectpicker", data_size = "10", data_live_search = "true", data_style = "btn-white", data_parsley_group = "wizard-step-1", required = "" })
                                                    </div>
                                                </div>
                                                <!-- end col-4 -->

                                                <!-- begin col-4 -->
                                                <div class="col-md-4">
                                                    <div class="form-group block1">
                                                        <label>Parameters</label>
                                                       @Html.DropDownList("Parameters", dropDowns.Parameter, "All", htmlAttributes: new { @class = "form-control selectpicker", data_size = "10", data_live_search = "true", data_style = "btn-white", data_parsley_group = "wizard-step-1", required = "required" })
                                                    </div>
                                                </div>
                                                <!-- end col-4 -->
                                            
                                                <!-- begin col-4 -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Subscription Code</label>
                                                        <input type="text" name="Code" placeholder="Subscription Code" class="form-control" data-parsley-group="wizard-step-1" required />
                                                    </div>
                                                </div>
                                                <!-- end col-4 -->
                                            </div>
                                            <!-- end row -->
                                        </fieldset>
                                    </div>
                                    <br /><br />
                                    <!-- end wizard step-1 -->
                                    <!-- begin wizard step-2 -->
                                    <div class="wizard-step-2">
                                        <fieldset>
                                            <legend class="pull-left width-full">LINE MANAGERS</legend>
                                            <!-- begin row -->
                                            <div class="row">
                                                <!-- begin col-6 -->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>SELECT LINE MANAGER 1</label>
                                                       <select id="LineManager1" name="LineManager1" class="form-control" data-parsley-group="wizard-step-2" required>
                                                            <option id="opt" value="Select Line Manager 1"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!-- end col-6 -->

                                                <!-- begin col-6 -->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>LINE MANAGER 1</label>
                                                        <input id="sLine1" readonly name=""class="form-control" data-parsley-group="wizard-step-2" required />
                                                    </div>
                                                </div>
                                                <!-- end col-6 -->
                                                <!-- begin col-6 -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>ASSIGN LINE MANAGER 2</label>
                                                        <select id="ALManager2" name=""  class="form-control" data-parsley-group="wizard-step-2" required>
                                                            <option value="">Select Line Manager 2</option>
                                                            <option value="A">By Unit Heads</option>
                                                            <option value="B">All Unit Heads</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!-- end col-6 -->
                                                <!-- begin col-6 -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>SELECT LINE MANAGER 2</label>
                                                        <select id="LineManager2" name="LineManager2" class="form-control" data-parsley-group="wizard-step-2" required>
                                                            <option id="opt1" value="">Select Line Manager 2</option>
                                                        </select>
                                                     </div>
                                                </div>
                                                <!-- end col-6 -->

                                                <!-- begin col-6 -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>LINE MANAGER 2</label>
                                                        <input readonly id="sLine2" placeholder="" class="form-control" data-parsley-group="wizard-step-2" required />
                                                    </div>
                                                </div>
                                                <!-- end col-6 -->

                                                <!-- begin col-6 -->
                                             


                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>ASSIGN LINE MANAGER 3</label>
                                                        <select id="ALManager3" class="form-control" data-parsley-group="wizard-step-2" required>
                                                            <option>Select Line Manager 3</option>
                                                            <option value="1">Department Heads Only</option>
                                                            <option value="2">All EMPLOYEE IN UNIT</option>
                                                            <option value="3">All EMPLOYEE IN GROUP</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <!-- end col-6 -->

                                                <!-- begin col-6 -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>SELECT LINE MANAGER 3</label>
                                                        <select id="LineManager3" name="LineManager3" class="form-control" data-parsley-group="wizard-step-2" required >
                                                            <option id="opt2">Select Line Manager 3</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!-- end col-6 -->

                                                <!-- begin col-6 -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>LINE MANAGER 3</label>
                                                        <input readonly id="sLine3" class="form-control" data-parsley-group="wizard-step-2" required />
                                                    </div>
                                                </div>
                                                <!-- end col-6 -->

                                            </div>
                                            <!-- end row -->
                                        </fieldset>
                                    </div>
                                    <br /><br />
                                    <input type="submit" class="btn btn-success" value="Submit" />
                                    <!-- end wizard step-2 -->
                                    <!-- begin wizard step-3 -->
                                    @*<div class="wizard-step-3">
                                        <fieldset>
                                            <legend class="pull-left width-full">PARAMETERS</legend>
                                            <!-- begin row -->
                                            <div class="row">
                                                <!-- begin col-4 -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Username</label>
                                                        <div class="controls">
                                                            <input type="text" name="username" placeholder="johnsmithy" class="form-control" data-parsley-group="wizard-step-3" required />
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end col-4 -->
                                                <!-- begin col-4 -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Pasword</label>
                                                        <div class="controls">
                                                            <input type="password" name="password" placeholder="Your password" class="form-control" data-parsley-group="wizard-step-3" required />
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end col-4 -->
                                                <!-- begin col-4 -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Confirm Pasword</label>
                                                        <div class="controls">
                                                            <input type="password" name="password2" placeholder="Confirmed password" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end col-6 -->
                                            </div>
                                            <!-- end row -->
                                        </fieldset>
                                    </div>*@
                                    <!-- end wizard step-3 -->
                                    <!-- begin wizard step-4 -->
                                    @*<div>
                                        <div class="jumbotron m-b-0 text-center">
                                            <h1>Login Successfully</h1>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat commodo porttitor. Vivamus eleifend, arcu in tincidunt semper, lorem odio molestie lacus, sed malesuada est lacus ac ligula. Aliquam bibendum felis id purus ullamcorper, quis luctus leo sollicitudin. </p>
                                            <p><a class="btn btn-success btn-lg" role="button">Proceed to User Profile</a></p>
                                        </div>
                                    </div>*@
                                    <!-- end wizard step-4 -->
                                    
                                </div>
                                }
                            @*</form>*@
                      
@section Scripts{
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->

    <script src="~/Scripts/jquery.blockUI.js"></script>
     <script src="~/assets/AdminTemplate/assets/plugins/ionRangeSlider/js/ion-rangeSlider/ion.rangeSlider.min.js"></script> 
    <script src="~/assets/AdminTemplate/assets/plugins/ionRangeSlider/js/ion-rangeSlider/ion.rangeSlider.min.js"></script>
    <script src="~/assets/AdminTemplate/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/assets/AdminTemplate/assets/plugins/masked-input/masked-input.min.js"></script>
    <script src="~/assets/AdminTemplate/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script src="~/assets/AdminTemplate/assets/plugins/password-indicator/js/password-indicator.js"></script>
    <script src="~/assets/AdminTemplate/assets/plugins/bootstrap-combobox/js/bootstrap-combobox.js"></script>

    <script src="~/assets/AdminTemplate/assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/assets/AdminTemplate/assets/plugins/select2/dist/js/select2.min.js"></script>
    <script src="~/assets/AdminTemplate/assets/js/form-plugins.demo.min.js"></script>
    <script src="~/assets/AdminTemplate/assets/plugins/parsley/dist/parsley.js"></script>
    <script src="~/assets/AdminTemplate/assets/plugins/bootstrap-wizard/js/bwizard.js"></script>
    <script src="~/assets/AdminTemplate/assets/js/form-wizards-validation.demo.min.js"></script>
    <script src="~/assets/AdminTemplate/assets/js/apps.min.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
    <script src="~/Scripts/Pages/JS/Appraisal/Configuration.js"></script>

    
    <script>
        $(document).ready(function () {
            App.init();
			FormWizardValidation.init();
		});
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','../../../../www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53034621-1', 'auto');
      ga('send', 'pageview');

    </script>
    }