@model resourceEdge.Domain.ViewModels.AppraiseeDropDown

@{
    Layout = "~/Views/Shared/Layouts/_EmployeeLayout.cshtml";
    int counter = 1;
}
<style>
    .bs-callout-warning {
        background-color: #fcf8f2;
        border-color: #f0ad4e;
    }

  .bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
  .bs-callout p:last-child {
  margin-bottom: 0;
}
  .bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}
</style>
@if (Model.Questions.Count() > 0)
{
<div class="bs-callout bs-callout-warning hidden">
    <h4>Oh snap!</h4>
    <p>Please all question needs to be answered. If not applicable please pick the last option</p>
</div>
using (Html.BeginForm("EmployeeAppraisal", "Appraisal", null, FormMethod.Post, new { id = "appraisalForm", data_parsley_validate = "" }))
{
    @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    foreach (var item in Model.Questions)
    {
            <table class="table table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Question</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@counter</td>
                        <td>
                            @item.EmpQuestion
                            @Html.Hidden("Question", @item.Id)
                  
                            <hr />
                            <table>
                                <thead>
                                    <tr>
                                    </tr>
                                </thead>
                                <tr>
                                    <td>
                                        
                                        <input type="radio" value="5" class="" name="ratingType[@counter]" required="" /><span class="bolder" style="font-weight:600;font:bolder;">  (5 Points)</span>
                                         <br /><br />
                                        
                                        <input type="radio" value="4" class="" name="ratingType[@counter]" /><span class="bolder" style="font-weight:600;font:bolder;"> (4 Points)</span> 
                                        <br /><br />

                                        <input type="radio" value="3" class="" name="ratingType[@counter]" /><span class="bolder" style="font-weight:600;font:bolder;"> (3 Points)</span> 
                                        <br /><br />
      
                                        <input type="radio" value="2" class=""  name="ratingType[@counter]"/><span class="bolder" style="font-weight:600;font:bolder;"> (2 Points)</span> 
                                        <br /><br />

                                        <input type="radio"  value="1" class=""  name="ratingType[@counter]"/><span class="bolder" style="font-weight:600;font:bolder;"> (1 Point)</span> 
                                        <br /><br />
                                        <input type="radio" value="0" class="" name="ratingType[@counter]" /><span class="bolder" style="font-weight:600;font:bolder;"> (Not Applicable)</span> 
                                    </td>
                                  
                                </tr>
                            </table>
                            @if (Model.PreviousAnswer != null && Model.PreviousAnswer.Count > 0)
                            {
                                if (Model.PreviousAnswer.ContainsKey(item.UserIdForQuestion))
                                {
                                    var answer = Model.PreviousAnswer[item.UserIdForQuestion];
                                <div style="color:dodgerblue" class="pull-right"><p><b>Previous Answer: @answer</b></p></div>
                                }
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        counter++;
    }



        <div class="form-group">
            <div class="col-md-offset-10 col-md-10">
                <input type="submit" value="Submit Answers" class="btn btn-success" />
            </div>
        </div>
    }
}
else
{
    <div class="alert alert-warning">Please it seems like you have already participated for this appraisal. Kindly check back for Corrections if rejected by your Line Manager.</div>
}
@section InitScript{
<script>
    $(function () {
        $('#appraisalForm').parsley().on('field:validated', function () {
            var ok = $('.parsley-error').length === 0;
            $('.bs-callout-info').toggleClass('hidden', !ok);
            $('.bs-callout-warning').toggleClass('hidden', ok);
        })
          .on('form:success', function () {
             // return true;
          });
    });
    </script>    
    }