@model IEnumerable<resourceEdge.webUi.Models.SystemModel.AppriasalinitializationListItem>

@{
    ViewBag.Title = "AllInitializedAppraisal";
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
}

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <tr>
            <td>
                @Html.ActionLink("Initialize New Appraisal", "InitilizeAppraisal", "Appraisal", null, new { @class = "btn btn-info pull-right" })
            </td>
        </tr>
        <tr>
            <td>
                <table class="table table-bordered table-responsive">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Group)
                        </th>
                        <th>
                            From
                        </th>
                        <th>
                            To
                        </th>
                        <th>
                            Mode
                        </th>
                        <th>
                            Start
                        </th>
                        <th>
                            Stop
                        </th>
                        <th>
                            Rating Type
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Code
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Group)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FromYear)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ToYear)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AppraisalMode)
                            </td>
                            <td>
                                @item.StartDate.ToShortDateString()
                            </td>
                            <td>
                                @item.EndDate.ToShortDateString()

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RatingType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AppraisalStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InitilizationCode)
                            </td>
                            @if (item.Enabled == null)
                            {
                                <td>
                                    @using (Html.BeginForm("EnableAppraisal", "Appraisal", new { Id = item.Id }, FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.HiddenFor(x => item.Id)
                                        <input type="submit" class="btn btn-success" value="Enable" />
                                    }
                                </td>
                            }
                            else
                            {
                                <td><span class="label label-success">On-going!</span></td>
                            }

                        </tr>
                    }

                </table>
            </td>
        </tr>
    </table>
</div>


