@using resourceEdge.webUi.Infrastructure.Core
@using System.Collections.Generic
@{
    Layout = "~/Views/Shared/Layouts/_EmployeeLayout.cshtml";
    var modelForview = (Tuple<IList<EmployeeListItem>, IList<EmployeeListItem>, IList<EmployeeListItem>>)ViewBag.Result;
}
@if (User.IsInRole("L3"))
{
<table id="tblapproved" class="table table-striped table-bordered display table-responsive" width="100%">
    <thead>
        <tr>
            <th>S/N</th>
            <th>Fullname</th>
            <th><i class="icon-plane"></i> Business unit</th>
            <th><i class="icon-calendar font-dark"></i> Department</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="green portlet-body">
        @{ int i = 1;}
        @foreach (var item in modelForview.Item3)
        {
            <tr>
                <td>@{int sn = i++;} @sn</td>
                <td>@item.FullName</td>
                <td>@item.BusinessUnitName</td>
                <td>@item.DepartmentName</td>
      
                <td><span class="label label-sm label-success">Pending</span></td>
                <td>
                    <table>
                        <tr>
                            <td>
                                @using (Html.BeginForm("ViewSubmittedEmployeeAppraisal", "AppraisalController", new { userId = item.userId }, FormMethod.Post, null))
                                {
                                @Html.AntiForgeryToken()
                                <button class="btn btn-warning" type="submit"><i class="icon-eye"></i>View</button>
                                }
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
                                }
    </tbody>
</table>
                    }
