@using resourceEdge.webUi.Infrastructure.Core
@using System.Collections.Generic

@{
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
    var modelForview = (Tuple<IList<EmployeeListItem>, IList<EmployeeListItem>, IList<EmployeeListItem>>)ViewBag.Result;
}
@if (User.IsInRole("L1"))
{
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-tabs-inverse nav-justified nav-justified-mobile" data-sortable-id="index-2">
            <li class=""><a href="#Pending" data-toggle="tab"><i class="fa fa-calender m-r-5"></i> <span class="hidden-xs">Pending For Approval</span></a></li>
            <li class=""><a href="#L2" data-toggle="tab"><i class="fa fa-calendar m-r-5"></i> <span class="hidden-xs">Line Manager 2</span></a></li>
            <li class=""><a href="#L3" data-toggle="tab"><i class="fa fa-calendar m-r-5"></i> <span class="hidden-xs">Line Manager 3</span></a></li>
            @*<li class=""><a href="#all" data-toggle="tab"><i class="fa fa-calendar m-r-5"> <span class="hidden-xs"> All Appraisals</span></i></a></li>*@
        </ul>
        <div class="tab-content" data-sortable-id="index-3">
            <div class="tab-pane fade active in" id="Pending" name="Pending">
                @if (modelForview.Item1 != null && modelForview.Item1.Count > 0)
                {
                    <div class="height-sm" data-scrollbar="true">
                        <table id="tblapproved" class="table table-striped table-bordered display table-responsive" width="100%">

                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Fullname</th>
                                    <th><i class="icon-plane"></i> Business unit</th>
                                    <th><i class="icon-calendar font-dark"></i> Department</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="green portlet-body">
                                @if (modelForview.Item1 != null && modelForview.Item1.Count > 0)
                                {
                                    int i = 1;
                                    foreach (var item in modelForview.Item1)
                                    {
                                        <tr>
                                            <td>@{int sn = i++;} @sn</td>
                                            <td>@item.FullName</td>
                                            <td>@item.BusinessUnitName</td>
                                            <td>@item.DepartmentName</td>
                                            <td><span class="label label-sm label-success">Pending</span></td>
                                            <td>
                                                <table class="pull-right">
                                                    <tr>
                                                        <td>
                                                            @using (Html.BeginForm("SubmittedAppraisal", "Appraisal", new { key = item.userId }, FormMethod.Post, null))
                                                            {
                                                                @Html.AntiForgeryToken()
                                                                <button class="btn btn-info" type="submit"><i class="icon-eye"></i>View</button>
                                                            }
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                                    }
                                                }

                            </tbody>
                        </table>

                    </div>
                                                }
                                                else
                                                {
                                                    <div class="alert alert-info alert-dismissable" style="text-align:center;"><b>Sorry no Appraisal to confirm yet. Kindly check on Line manager two and three</b></div>
                                                }
            </div>
            <div class="tab-pane fade" id="L2" name="L2">
                @if (modelForview.Item2 != null && modelForview.Item2.Count > 0)
                {
                    <div class="height-sm" data-scrollbar="true">
                        <table class="table table-responsive table-striped table-bordered table-hover table-checkable" id="tbldenied">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Fullname</th>
                                    <th><i class="icon-plane"></i> Business unit</th>
                                    <th><i class="icon-calendar font-dark"></i> Department</th>
                                    <th>Status</th>

                                </tr>
                            </thead>
                            <tbody class="green portlet-body">
                                @if (modelForview.Item2 != null && modelForview.Item2.Count > 0)
                                {
                                    int j = 1;
                                    foreach (var item in modelForview.Item2)
                                    {
                                        <tr>
                                            <td>@{int sn = j++;} @sn</td>
                                            <td>@item.FullName</td>
                                            <td>@item.BusinessUnitName</td>
                                            <td>@item.DepartmentName</td>
                                            <td><span class="label label-sm label-success">Pending</span></td>
                                        </tr>
                                                    }
                                                }
                            </tbody>
                        </table>
                    </div>
                                                }
                                                else
                                                {
                                                    <div class="alert alert-info alert-dismissable" style="text-align:center;">Sorry no Appraisal for line Manager Two(2) to confirm yet. Kindly check on Line manager three</div>
                                                }
            </div>
            <div class="tab-pane fade" id="L3" name="L3">
                @if (modelForview.Item3 != null && modelForview.Item3.Count > 0)
                {
                    <div class="height-sm" data-scrollbar="true">
                        <table class="table table-responsive table-striped table-bordered table-hover table-checkable display" id="tblpending">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Fullname</th>
                                    <th><i class="icon-plane"></i> Business unit</th>
                                    <th><i class="icon-calendar font-dark"></i> Department</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody class="green portlet-body">
                                @if (modelForview.Item3 != null && modelForview.Item3.Count > 0)
                                {
                                    int k = 1;
                                    foreach (var item in modelForview.Item3)
                                    {
                                        <tr>
                                            <td>@{int sn = k++;} @sn</td>
                                            <td>@item.FullName</td>
                                            <td>@item.BusinessUnitName</td>
                                            <td>@item.DepartmentName</td>
                                            <td><span class="label label-sm label-success">Pending</span></td>

                                        </tr>
                                                    }
                                                }
                            </tbody>
                        </table>
                    </div>
                                                }
                                                else
                                                {
                                                    <div class="alert alert-info alert-dismissable" style="text-align:center;">Sorry no pending Appraisal to comfirm. Kindly check on all appraisee to submit appraisals for confirmation </div>
                                                }
            </div>
        </div>
    </div>
                                                }
