@{
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
}
<div id="noEmp" >

</div>


    @using (Html.BeginForm("AllotLeaves", "Leave",null,FormMethod.Post, new { data_parsley_validate = "" }))
    {
        @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Business Units")
                            @Html.DropDownList("businessunitId", (SelectList)ViewBag.businessUnits, "Select Business Unit", htmlAttributes: new { @class = "form-control", placeholder = "please input business unit" })
                            @Html.ValidationMessage("businessunitId", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                    <label>Select Department</label>
                    <select id="departmentId" name="departmentId" class="form-control">
                        <option>Select Department</option>
                    </select>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Year</label>
                            <input class="form-control" type="text" name="year" id="year" required ="" data-parsley-length="[4, 4]" data-parsley-required-message="Input Required and length should be 4 characters only">

                        </div>
                    </div>
                    <div>
                    <button id="searchEmp" type="button" class="btn btn-success pull-right" style="clear:both;">Search Employees</button>
                        <br /><br /><br />
                    </div>
                  
                  <br /><br />
                    <div id="getCount" class="hidden col-md-8" style="clear:both">
                        <table class="table table-bordered table-hover" >
                            <thead>
                                <tr>
                                    <th>Employee</th>
                                    <th>Number of Days</th>
                                </tr>
                            </thead>
                            <tbody id="searchBody">

                            </tbody>
                        </table>
                        <button type="submit" class="btn btn-success pull-right" style="clear:both">Save</button>

                    </div>
    }


@section Scripts{
    <script src="~/Scripts/Pages/JS/Leave/AllotLeave.js"></script>

}

