@{
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
}
@section css{
    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
}
    @using (Html.BeginForm("AllotLeaves", "Leave",null,FormMethod.Post, new { data_parsley_validate = "" }))
    {
        @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Business Units")
                            @Html.DropDownList("businessunitId", (SelectList)ViewBag.businessUnits, "Select Business Unit", htmlAttributes: new { @class = "form-control", placeholder = "please input business unit" })
                            @Html.ValidationMessage("businessunitId", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                    <label>Select Department</label>
                    <select id="departmentId" name="departmentId" class="form-control">
                        <option>Select Department</option>
                    </select>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Year</label>
                            <input class="date-own form-control" style="width: 300px;" type="text" name="year" required ="">
                            <br/>
                        </div>
                    </div>
                    <button id="searchEmp" type="button" class="btn btn-success pull-right" style="clear:both;">Search Employees <br /></button>
                    <br />
                  <span id="noEmp" class="alert alert-danger hidden col-md-12" style=" font:bolder; text-align:center">No Employee in this department yet</span>
                  <br /><br />
                    <div id="getCount" class="hidden col-md-6" style="clear:both">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Employee</th>
                                    <th>Allot Leave</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="tbluser"></td>
                                    <td id="tblTime"></td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="submit" class="btn btn-success pull-right" style="clear:both">Save</button>

                    </div>
    }

<script type="text/javascript">

</script>

@section Scripts{
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script src="~/Scripts/Pages/JS/Leave/AllotLeave.js"></script>

}

