@model resourceEdge.Domain.Entities.LeaveManagementViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LeaveManagementViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CalStartMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalStartMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeekendStartDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeekendStartDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeekendEndDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeekendEndDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessunitId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessunitId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HrId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HrId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsHalfday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHalfday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLeaveTransfer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLeaveTransfer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSkipHolidays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSkipHolidays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descriptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descriptions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Isactive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Isactive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
