@model resourceEdge.webUi.Models.SystemModel.DisciplineListItem

@*@{
    ViewBag.Title = "IncidentDetail";
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
}*@


<div>
   <style>
        dl dd {
            position:relative;
        }
        b {
            font-weight: bold;
        }
        .dt-format{
            text-align:left;
        }

    </style>

    <dl class="dl-horizontal">
        <dt class="dt-format" style="text-align:left">
            <b>Corrective Action</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorrectiveAction)
        </dd>
        <hr />
        <dt class="dt-format" style="text-align:left">
            <b>Violation</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.violation)
        </dd>
        <hr />
        <dt class="dt-format" style="text-align:left">
            <b>@Html.DisplayNameFor(model => model.Unit)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>
        <hr />
        <dt class="dt-format" style="text-align:left">
            <b>@Html.DisplayNameFor(model => model.Department)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>
        <hr />
        <dt class="dt-format" style="text-align:left">
            <b>Full name</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <hr />
        <dt class="dt-format" style="text-align:left">
            <b>Report manager</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportManager)
        </dd>
        <hr />
        <dt class="dt-format" style="text-align:left">
            <b>@Html.DisplayNameFor(model => model.Date)</b>
        </dt>

        <dd>
          @Model.Date
        </dd>
        <hr />
        <dt class="dt-format" style="text-align:left">
            <b>@Html.DisplayNameFor(model => model.Response)</b>
        </dt>
        @if (string.IsNullOrEmpty(Model.Response)){
            <dd>
                No Reponse yet
            </dd>
        }
        else
        {
            <dd>
                @Model.Response
            </dd>
        }
    </dl>
</div>

