@using resourceEdge.webUi.Models
@using resourceEdge.Domain.Entities
@{
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
    var usersessionObject = (SessionModel)Session["_ResourceEdgeTeneceIdentity"];
    var crumbs = (BreadCrumb)Session["_Crumbs"];
    var Menu = (List<Menu>)Session["_Menu"];
    ViewBag.Title = "Leave";
    var Approved = (List<resourceEdge.Domain.Entities.LeaveRequest>)ViewBag.Approved;
    var Denied = (List<resourceEdge.Domain.Entities.LeaveRequest>)ViewBag.Denied;
    var pending = (List<resourceEdge.Domain.Entities.LeaveRequest>)ViewBag.Pending;
    var All = (List<resourceEdge.Domain.Entities.LeaveRequest>)ViewBag.All;
}

@section css{
@*<link href="~/assets/AdminTemplate/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />*@

<link href="~/assets/AdminTemplate/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/assets/AdminTemplate/assets/plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css" rel="stylesheet" />
<link href="~/assets/AdminTemplate/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
    }

<h1 class="page-header"> @*Leave Dashboard*@ <small>@*Check your leave status*@</small>
</h1><div class="row">
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-green">
            <div class="stats-icon"><i class="fa fa-calendar"></i></div>
            <div class="stats-info">
                <h4>Approved Leaves</h4>
                <p>@resourceEdge.webUi.Infrastructure.StatManager.GetApprovedLeaveCount(ViewBag.UserId)</p>
            </div>
            <div class="stats-link">
                <a href="#approved" data-toggle="tab">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-red">
            <div class="stats-icon"><i class="fa fa-calendar"></i></div>
            <div class="stats-info">
                <h4>Denied Leaves</h4>
                <p>@resourceEdge.webUi.Infrastructure.StatManager.GetDeniedLeaveCount(ViewBag.UserId)</p>
            </div>
            <div class="stats-link">
                <a href="#denied" data-toggle="tab">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-orange">
            <div class="stats-icon"><i class="fa fa-bell-o"></i></div>
            <div class="stats-info">
                <h4>Pending Leaves</h4>
                <p>@resourceEdge.webUi.Infrastructure.StatManager.GetPendingLeaveCount(ViewBag.UserId)</p>
            </div>
            <div class="stats-link">
                <a href="#pending" data-toggle="tab">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-blue">
            <div class="stats-icon"><i class="fa fa-calendar"></i></div>
            <div class="stats-info">
                <h4>All Leaves</h4>
                <p>@resourceEdge.webUi.Infrastructure.StatManager.GetAllLeave(ViewBag.UserId)</p>
            </div>
            <div class="stats-link">
                <a href="#all" data-toggle="tab">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
</div>
<!-- end row -->
<!-- begin row -->
<div class="row">
    <!-- begin col-8 -->
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-tabs-inverse nav-justified nav-justified-mobile" data-sortable-id="index-2">
            <li class="active"><a href="#approved" data-toggle="tab"><i class="fa fa-calender m-r-5"></i> <span class="hidden-xs">Approved</span></a></li>
            <li class=""><a href="#denied" data-toggle="tab"><i class="fa fa-calendar m-r-5"></i> <span class="hidden-xs">Denied</span></a></li>
            <li class=""><a href="#pending" data-toggle="tab"><i class="fa fa-calendar m-r-5"></i> <span class="hidden-xs">Pending</span></a></li>
            <li class=""><a href="#all" data-toggle="tab"><i class="fa fa-calendar m-r-5"> <span class="hidden-xs"> All Request</span></i></a></li>
        </ul>
        <div class="tab-content" data-sortable-id="index-3">
            <div class="tab-pane fade active in" id="approved" name="approved">
                <div class="height-sm" data-scrollbar="true">
                    <table id="tblapproved" class="table table-striped table-bordered display table-responsive" width="100%">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Leave Name</th>
                                <th><i class="icon-plane"></i> Requested Days</th>
                                <th><i class="icon-calendar font-dark"></i> From</th>
                                <th><i class="icon-calendar font-dark"></i> To</th>
                                <th>Reason</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody class="green portlet-body">
                            @{ int i = 1;}
                            @foreach (var item in Approved)
                            {
                                <tr>
                                    <td>@{int sn = i++;} @sn</td>
                                    <td>@item.LeaveName</td>
                                    <td>@item.requestDaysNo</td>
                                    <td>@item.FromDate.Value.ToShortDateString()</td>
                                    <td>@item.ToDate.Value.ToShortDateString()</td>
                                    <td>@item.Reason</td>
                                    <td><span class="label label-sm label-success">Approved</span></td>
                                </tr>
                                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="denied" name="denied">
                <div class="height-sm" data-scrollbar="true">
                    <table class="table table-responsive table-striped table-bordered table-hover table-checkable" id="tbldenied">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Leave Name</th>
                                <th><i class="icon-plane"></i> Requested Days</th>
                                <th><i class="icon-calendar font-dark"></i> From</th>
                                <th><i class="icon-calendar font-dark"></i> To</th>
                                <th>Reason</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody class="green portlet-body">
                            @{ int j = 1;}
                            @foreach (var item in Denied)
                            {
                                <tr>
                                    <td>@{int sn = j++;} @sn</td>
                                    <td>@item.LeaveName</td>
                                    <td>@item.requestDaysNo</td>
                                    <td>@item.FromDate.Value.ToShortDateString()</td>
                                    <td>@item.ToDate.Value.ToShortDateString()</td>
                                    <td>@item.Reason</td>
                                    <td><span class="label label-sm label-danger">Denied</span></td>
                                </tr>
                                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="pending" name="pending">
                <div class="height-sm" data-scrollbar="true">
                    <table class="table table-responsive table-striped table-bordered table-hover table-checkable display" id="tblpending">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Leave Name</th>
                                <th><i class="icon-plane"></i> Requested Days</th>
                                <th><i class="icon-calendar font-dark"></i> From </th>
                                <th><i class="icon-calendar font-dark"></i> To</th>
                                <th>Reason</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody class="green portlet-body">
                            @{ int k = 1;}
                            @foreach (var item in pending)
                            {
                                <tr>
                                    <td>@{var sn = k++;} @sn</td>
                                    <td>@item.LeaveName</td>
                                    <td>@item.requestDaysNo</td>
                                    <td>@item.FromDate.Value.ToShortDateString()</td>
                                    <td>@item.ToDate.Value.ToShortDateString()</td>
                                    <td>@item.Reason</td>
                                    <td><span class="label label-sm label-warning">Pending</span></td>
                                </tr>
                                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="all" name="all">
                <div class="height-sm" data-scrollbar="true">
                    <table class="table table-responsive table-striped table-bordered table-hover table-checkable" id="tblall">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Leave Name</th>
                                <th><i class="icon-plane"></i> Requested Days</th>
                                <th><i class="icon-calendar font-dark"></i> From</th>
                                <th><i class="icon-calendar font-dark"></i> To</th>
                                <th>Reason</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody class="green portlet-body">
                            @{ int l = 1;}
                            @foreach (var item in All)
                            {
                                <tr>
                                    <td>@{var sn = l++;} @sn</td>
                                    <td>@item.LeaveName</td>
                                    <td>@item.requestDaysNo</td>
                                    <td>@item.FromDate.Value.ToShortDateString()</td>
                                    <td>@item.ToDate.Value.ToShortDateString()</td>
                                    <td>@item.Reason</td>

                                    @if (item.LeaveStatus == null)
                                    {
                                        <td><span class="label label-sm label-warning">Pending</span></td>
                                    }
                                    @if (item.LeaveStatus == true)
                                    {
                                        <td><span class="label label-sm label-success">Approved</span></td>
                                    }
                                    @if (item.LeaveStatus == false)
                                    {
                                        <td><span class="label label-sm label-danger">Denied</span></td>
                                    }
                                </tr>
                                        }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <!-- end col-8 -->
</div>

@section Scripts{
<script src="~/assets/AdminTemplate/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
<script src="~/assets/AdminTemplate/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
<script src="~/assets/AdminTemplate/assets/plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="~/assets/AdminTemplate/assets/plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
<script src="~/assets/AdminTemplate/assets/plugins/DataTables/extensions/Buttons/js/buttons.flash.min.js"></script>
<script src="~/assets/AdminTemplate/assets/plugins/DataTables/extensions/Buttons/js/jszip.min.js"></script>
<script src="~/assets/AdminTemplate/assets/plugins/DataTables/extensions/Buttons/js/pdfmake.min.js"></script>
<script src="~/assets/AdminTemplate/assets/plugins/DataTables/extensions/Buttons/js/vfs_fonts.min.js"></script>
<script src="~/assets/AdminTemplate/assets/plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js"></script>
<script src="~/assets/AdminTemplate/assets/plugins/DataTables/extensions/Buttons/js/buttons.print.min.js"></script>
<script src="~/assets/AdminTemplate/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Scripts/Pages/JS/SelfService/Leave.js"></script>
}