@using resourceEdge.webUi.Models
@using resourceEdge.Domain.Entities
@{  var usersessionObject = (SessionModel)Session["_ResourceEdgeTeneceIdentity"];
    var crumbs = (BreadCrumb)Session["_Crumbs"];
    var Menu = (List<Menu>)Session["_Menu"];
}
@{
    ViewBag.Title = "Leave";
    var Approved = (List<resourceEdge.Domain.Entities.LeaveRequest>)ViewBag.Approved;
    var Denied = (List<resourceEdge.Domain.Entities.LeaveRequest>)ViewBag.Denied;
    var pending = (List<resourceEdge.Domain.Entities.LeaveRequest>)ViewBag.Pending;
    var All = (List<resourceEdge.Domain.Entities.LeaveRequest>)ViewBag.All;
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- Mirrored from seantheme.com/color-admin-v2.0/admin/html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 01 Sep 2016 09:17:55 GMT -->
<head>
    <meta charset="utf-8" />
    <title>Color Admin | Dashboard</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/css/animate.min.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/css/style.min.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/css/style-responsive.min.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/css/theme/default.css" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="~/assets/AdminTemplate/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />

    <link href="~/assets/AdminTemplate/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />

    <!-- ================== END PAGE LEVEL STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/assets/AdminTemplate/assets/plugins/pace/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body>
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
        <!-- begin #header -->
        <div id="header" class="header navbar navbar-default navbar-fixed-top">
            <!-- begin container-fluid -->
            <div class="container-fluid">
                <!-- begin mobile sidebar expand / collapse button -->
                <div class="navbar-header">
                    <a href="index-2.html" class="navbar-brand"><span class="navbar-logo"></span> Color Admin</a>
                    <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- end mobile sidebar expand / collapse button -->
                <!-- begin header navigation right -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form full-width">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter keyword" />
                                <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
                            <i class="fa fa-bell-o"></i>
                            <span class="label">5</span>
                        </a>
                        <ul class="dropdown-menu media-list pull-right animated fadeInDown">
                            <li class="dropdown-header">Notifications (5)</li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="fa fa-bug media-object bg-red"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Server Error Reports</h6>
                                        <div class="text-muted f-s-11">3 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><img src="~/assets/AdminTemplate/assets/img/user-1.jpg" class="media-object" alt="" /></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">John Smith</h6>
                                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                        <div class="text-muted f-s-11">25 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><img src="~/assets/AdminTemplate/assets/img/user-2.jpg" class="media-object" alt="" /></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Olivia</h6>
                                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                        <div class="text-muted f-s-11">35 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="fa fa-plus media-object bg-green"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading"> New User Registered</h6>
                                        <div class="text-muted f-s-11">1 hour ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="fa fa-envelope media-object bg-blue"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading"> New Email From John</h6>
                                        <div class="text-muted f-s-11">2 hour ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-footer text-center">
                                <a href="javascript:;">View more</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown navbar-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="~/assets/AdminTemplate/assets/img/user-13.jpg" alt="" />
                            <span class="hidden-xs">@usersessionObject.FullName</span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu animated fadeInLeft">
                            <li class="arrow"></li>
                            <li><a href="javascript:;">Edit Profile</a></li>
                            <li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>
                            <li><a href="javascript:;">Calendar</a></li>
                            <li><a href="javascript:;">Setting</a></li>
                            <li class="divider"></li>
                            <li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a href="javascript:document.getElementById('logoutForm').submit()" style="text-decoration:none; font-weight:bold" class="btn btn-block font-dark">Log off </a>
                                    }
                                }
                            </li>

                        </ul>
                    </li>
                </ul>
                <!-- end header navigation right -->
            </div>
            <!-- end container-fluid -->
        </div>
        <!-- end #header -->
        <!-- begin #sidebar -->
        <div id="sidebar" class="sidebar">
            <!-- begin sidebar scrollbar -->
            <div data-scrollbar="true" data-height="100%">
                <!-- begin sidebar user -->
                <ul class="nav">
                    <li class="nav-profile">
                        <div class="image">
                            <a href="javascript:;"><img src="~/assets/AdminTemplate/assets/img/user-13.jpg" alt="" /></a>
                        </div>
                        <div class="info">
                            @usersessionObject.FullName
                            <small>@usersessionObject.UnitName</small>
                        </div>
                    </li>
                </ul>
                <!-- end sidebar user -->
                <!-- begin sidebar nav -->
                <ul class="nav">
                    <li class="nav-header">Navigation</li>
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-laptop"></i>
                            <span>Leaves</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                @Html.ActionLink("Leave Dashboard", "Leave", null, new { @class = "nav-link  title" })
                            </li>
                            <li>
                                @Html.ActionLink("Request Leave", "RequestLeave", null, new { @class = "nav-link  title" })
                            </li>
                        </ul>
                    </li>
                    @if (User.IsInRole("HR"))
                    {
                        <li class="has-sub">
                            <a href="javascript:;">
                                <b class="caret pull-right"></b>
                                <i class="fa fa-inbox"></i>
                                <span>HR</span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    @Html.ActionLink("Create", "Create", "HR", null, new { @class = "nav-link  title" })
                                </li>
                            </ul>
                        </li>
                    }

                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-inbox"></i>
                            <span>Assets</span>
                        </a>
                        <ul class="sub-menu">
                            <li class="has-sub">
                                <a href="javascript:;"><b class="caret pull-right"></b>Request Assets</a>
                                <ul class="sub-menu"></ul>
                            </li>
                        </ul>
                    </li>
                    @if (User.IsInRole("Manager"))
                    {
                        <li class="has-sub">
                            <a href="javascript:;">
                                <b class="caret pull-right"></b>
                                <i class="fa fa-suitcase"></i>
                                <span>Employee Management</span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    @Html.ActionLink("Employee Leaves", "leaveRequests", "Leave")
                                </li>
                                @if (Menu != null)
                                {
                                    var result = Menu.Find(x => x.Id == 1);
                                    if (result != null)
                                    {

                                        <li>
                                            @Html.ActionLink("Add Question", "AddQuestion", "Appraisal")
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-suitcase"></i>
                            <span>Coming Soon</span>
                        </a>
                        <ul class="sub-menu">
                            <li>

                            </li>
                        </ul>
                    </li>

                    <!-- begin sidebar minify button -->
                    <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
                    <!-- end sidebar minify button -->
                </ul>
                <!-- end sidebar nav -->
            </div>
            <!-- end sidebar scrollbar -->
        </div>
        <div class="sidebar-bg"></div>
        <!-- end #sidebar -->
        <!-- begin #content -->
        <div id="content" class="content">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb pull-right">
                <li><a href="javascript:;">@crumbs.Action</a></li>
                <li><a href="javascript:;">@crumbs.Controller</a></li>
            </ol>
            <!-- end breadcrumb -->
            <!-- begin page-header -->
            <h1 class="page-header">Leave Dashboard <small>Check your leave status</small></h1>
            <!-- end page-header -->
            <!-- begin row -->
            <div class="row">
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="widget widget-stats bg-green">
                        <div class="stats-icon"><i class="fa fa-calendar"></i></div>
                        <div class="stats-info">
                            <h4>Approved Leaves</h4>
                            <p>@resourceEdge.webUi.Infrastructure.StatManager.GetApprovedLeaveCount(ViewBag.UserId)</p>
                        </div>
                        <div class="stats-link">
                            <a href="#approved" data-toggle="tab">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="widget widget-stats bg-red">
                        <div class="stats-icon"><i class="fa fa-calendar"></i></div>
                        <div class="stats-info">
                            <h4>Denied Leaves</h4>
                            <p>@resourceEdge.webUi.Infrastructure.StatManager.GetDeniedLeaveCount(ViewBag.UserId)</p>
                        </div>
                        <div class="stats-link">
                            <a href="#denied" data-toggle="tab">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="widget widget-stats bg-orange">
                        <div class="stats-icon"><i class="fa fa-bell-o"></i></div>
                        <div class="stats-info">
                            <h4>Pending Leaves</h4>
                            <p>@resourceEdge.webUi.Infrastructure.StatManager.GetPendingLeaveCount(ViewBag.UserId)</p>
                        </div>
                        <div class="stats-link">
                            <a href="#pending" data-toggle="tab">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="widget widget-stats bg-blue">
                        <div class="stats-icon"><i class="fa fa-calendar"></i></div>
                        <div class="stats-info">
                            <h4>All Leaves</h4>
                            <p>@resourceEdge.webUi.Infrastructure.StatManager.GetAllLeave(ViewBag.UserId)</p>
                        </div>
                        <div class="stats-link">
                            <a href="#all" data-toggle="tab">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- end col-3 -->
            </div>
            <!-- end row -->
            <!-- begin row -->
            <div class="row">
                <!-- begin col-8 -->
                <div class="col-md-12">
                    <ul class="nav nav-tabs nav-tabs-inverse nav-justified nav-justified-mobile" data-sortable-id="index-2">
                        <li class="active"><a href="#approved" data-toggle="tab"><i class="fa fa-calender m-r-5"></i> <span class="hidden-xs">Approved</span></a></li>
                        <li class=""><a href="#denied" data-toggle="tab"><i class="fa fa-calendar m-r-5"></i> <span class="hidden-xs">Denied</span></a></li>
                        <li class=""><a href="#pending" data-toggle="tab"><i class="fa fa-calendar m-r-5"></i> <span class="hidden-xs">Pending</span></a></li>
                        <li class=""><a href="#all" data-toggle="tab"><i class="fa fa-calendar m-r-5"> <span class="hidden-xs"> All Request</span></i></a></li>
                    </ul>
                    <div class="tab-content" data-sortable-id="index-3">
                        <div class="tab-pane fade active in" id="approved" name="approved">
                            <div class="height-sm" data-scrollbar="true">
                                <table id="tblapproved" class="table table-striped table-bordered display table-responsive" width="100%">
                                    <thead>
                                        <tr>
                                            <th>S/N</th>
                                            <th>Leave Name</th>
                                            <th><i class="icon-plane"></i> Requested Days</th>
                                            <th><i class="icon-calendar font-dark"></i> From</th>
                                            <th><i class="icon-calendar font-dark"></i> To</th>
                                            <th>Reason</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody class="green portlet-body">
                                        @{ int i = 1;}
                                        @foreach (var item in Approved)
                                        {
                                            <tr>
                                                <td>@{int sn = i++;} @sn</td>
                                                <td>@item.LeaveName</td>
                                                <td>@item.requestDaysNo</td>
                                                <td>@item.FromDate.Value.ToShortDateString()</td>
                                                <td>@item.ToDate.Value.ToShortDateString()</td>
                                                <td>@item.Reason</td>
                                                <td><span class="label label-sm label-success">Approved</span></td>
                                            </tr>
                                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="denied" name="denied">
                            <div class="height-sm" data-scrollbar="true">
                                <table class="table table-responsive table-striped table-bordered table-hover table-checkable" id="tbldenied">
                                    <thead>
                                        <tr>
                                            <th>S/N</th>
                                            <th>Leave Name</th>
                                            <th><i class="icon-plane"></i> Requested Days</th>
                                            <th><i class="icon-calendar font-dark"></i> From</th>
                                            <th><i class="icon-calendar font-dark"></i> To</th>
                                            <th>Reason</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody class="green portlet-body">
                                        @{ int j = 1;}
                                        @foreach (var item in Denied)
                                        {
                                            <tr>
                                                <td>@{int sn = j++;} @sn</td>
                                                <td>@item.LeaveName</td>
                                                <td>@item.requestDaysNo</td>
                                                <td>@item.FromDate.Value.ToShortDateString()</td>
                                                <td>@item.ToDate.Value.ToShortDateString()</td>
                                                <td>@item.Reason</td>
                                                <td><span class="label label-sm label-danger">Denied</span></td>
                                            </tr>
                                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pending" name="pending">
                            <div class="height-sm" data-scrollbar="true">
                                <table class="table table-responsive table-striped table-bordered table-hover table-checkable display" id="tblpending">
                                    <thead>
                                        <tr>
                                            <th>S/N</th>
                                            <th>Leave Name</th>
                                            <th><i class="icon-plane"></i> Requested Days</th>
                                            <th><i class="icon-calendar font-dark"></i> From </th>
                                            <th><i class="icon-calendar font-dark"></i> To</th>
                                            <th>Reason</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody class="green portlet-body">
                                        @{ int k = 1;}
                                        @foreach (var item in pending)
                                        {
                                            <tr>
                                                <td>@{var sn = k++;} @sn</td>
                                                <td>@item.LeaveName</td>
                                                <td>@item.requestDaysNo</td>
                                                <td>@item.FromDate.Value.ToShortDateString()</td>
                                                <td>@item.ToDate.Value.ToShortDateString()</td>
                                                <td>@item.Reason</td>
                                                <td><span class="label label-sm label-warning">Pending</span></td>
                                            </tr>
                                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="all" name="all">
                            <div class="height-sm" data-scrollbar="true">
                                <table class="table table-responsive table-striped table-bordered table-hover table-checkable" id="tblall">
                                    <thead>
                                        <tr>
                                            <th>S/N</th>
                                            <th>Leave Name</th>
                                            <th><i class="icon-plane"></i> Requested Days</th>
                                            <th><i class="icon-calendar font-dark"></i> From</th>
                                            <th><i class="icon-calendar font-dark"></i> To</th>
                                            <th>Reason</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody class="green portlet-body">
                                        @{ int l = 1;}
                                        @foreach (var item in All)
                                        {
                                            <tr>
                                                <td>@{var sn = l++;} @sn</td>
                                                <td>@item.LeaveName</td>
                                                <td>@item.requestDaysNo</td>
                                                <td>@item.FromDate.Value.ToShortDateString()</td>
                                                <td>@item.ToDate.Value.ToShortDateString()</td>
                                                <td>@item.Reason</td>

                                                @if (item.LeaveStatus == null)
                                                {
                                                    <td><span class="label label-sm label-warning">Pending</span></td>
                                                }
                                                @if (item.LeaveStatus == true)
                                                {
                                                    <td><span class="label label-sm label-success">Approved</span></td>
                                                }
                                                @if (item.LeaveStatus == false)
                                                {
                                                    <td><span class="label label-sm label-danger">Denied</span></td>
                                                }
                                            </tr>
                                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- end col-8 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end #content -->
        <!-- begin theme-panel -->
        <div class="theme-panel">
            <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
            <div class="theme-panel-content">
                <h5 class="m-t-0">Color Theme</h5>
                <ul class="theme-list clearfix">
                    <li class="active"><a href="javascript:;" class="bg-green" data-theme="default" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-red" data-theme="red" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-blue" data-theme="blue" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-purple" data-theme="purple" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-orange" data-theme="orange" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-black" data-theme="black" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Black">&nbsp;</a></li>
                </ul>
                <div class="divider"></div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Header Styling</div>
                    <div class="col-md-7">
                        <select name="header-styling" class="form-control input-sm">
                            <option value="1">default</option>
                            <option value="2">inverse</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label">Header</div>
                    <div class="col-md-7">
                        <select name="header-fixed" class="form-control input-sm">
                            <option value="1">fixed</option>
                            <option value="2">default</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Sidebar Styling</div>
                    <div class="col-md-7">
                        <select name="sidebar-styling" class="form-control input-sm">
                            <option value="1">default</option>
                            <option value="2">grid</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label">Sidebar</div>
                    <div class="col-md-7">
                        <select name="sidebar-fixed" class="form-control input-sm">
                            <option value="1">fixed</option>
                            <option value="2">default</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Sidebar Gradient</div>
                    <div class="col-md-7">
                        <select name="content-gradient" class="form-control input-sm">
                            <option value="1">disabled</option>
                            <option value="2">enabled</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Content Styling</div>
                    <div class="col-md-7">
                        <select name="content-styling" class="form-control input-sm">
                            <option value="1">default</option>
                            <option value="2">black</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-12">
                        <a href="#" class="btn btn-inverse btn-block btn-sm" data-click="reset-local-storage"><i class="fa fa-refresh m-r-3"></i> Reset Local Storage</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end theme-panel -->
        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    </div>
    <!-- end page container -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/assets/AdminTemplate/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
    <script src="~/assets/AdminTemplate/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
    <script src="~/assets/AdminTemplate/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="~/assets/AdminTemplate/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="~/assets/AdminTemplate/assets/crossbrowserjs/html5shiv.js"></script>
        <script src="~/assets/AdminTemplate/assets/crossbrowserjs/respond.min.js"></script>
        <script src="~/assets/AdminTemplate/assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/assets/AdminTemplate/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/AdminTemplate/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/assets/AdminTemplate/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
    <script src="~/assets/AdminTemplate/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/AdminTemplate/assets/plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/AdminTemplate/assets/plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="~/assets/AdminTemplate/assets/plugins/DataTables/extensions/Buttons/js/buttons.flash.min.js"></script>
    <script src="~/assets/AdminTemplate/assets/plugins/DataTables/extensions/Buttons/js/jszip.min.js"></script>
    <script src="~/assets/AdminTemplate/assets/plugins/DataTables/extensions/Buttons/js/pdfmake.min.js"></script>
    <script src="~/assets/AdminTemplate/assets/plugins/DataTables/extensions/Buttons/js/vfs_fonts.min.js"></script>
    <script src="~/assets/AdminTemplate/assets/plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/AdminTemplate/assets/plugins/DataTables/extensions/Buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/AdminTemplate/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    @*<script src="~/assets/AdminTemplate/assets/js/table-manage-buttons.demo.min.js"></script>*@

    <script src="~/assets/AdminTemplate/assets/js/apps.min.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
    <script src="~/Scripts/Pages/JS/SelfService/Leave.js"></script>
    <script>
		$(document).ready(function() {
			App.init();
		});
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','../../../../www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53034621-1', 'auto');
      ga('send', 'pageview');

    </script>
</body>
</html>
