@model IEnumerable<resourceEdge.webUi.Models.SystemModel.DisciplineListItem>
@{
    ViewBag.Title = "allViolation";
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
}



<div class="table-responsive">

                <table class="table table-responsive table-striped table-bordered">
                    <tr>
                        <th>
                            Unit
                        </th>
                        <th>
                            Department
                        </th>
                        <th>Name</th>
                        <th>Incident</th>
                        <th>Corrective Action</th>
                        <th>Report manager</th>
                        <th>Expiry Date</th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Unit
                            </td>
                            <td>
                                @item.Department
                            </td>
                            <td>@item.FullName</td>
                            <td>@item.violation</td>
                            <td>@item.CorrectiveAction</td>
                            <td>@item.ReportManager</td>
                            <td>@item.Date</td>
                            
                            <td>
                                <table class="pull-right">
                                    <tr>
                                        @if ((item.Appeal == 1 && string.IsNullOrEmpty(item.Response)) || item.ExpiryDate.Date <= DateTime.Now.Date)
                                        {
                                            <td>@Html.ActionLink("Appeal", "EditIncident", "Discipline", new { id = item.ID }, new { @class = "btn btn-warning pull-right" })</td>
                                        }
                                        @if (!string.IsNullOrEmpty(item.Response))
                                        {
                                            <td><span class="label label-danger">No Appeal</span></td>
                                        }
                                        <td>
                                        <table class="pull-right">
                                            <tr>
                                                <td>@Html.ActionLink("View", "incidentDetail", "Discipline", new { id = item.ID }, new { @class = "btn btn-info pull-right" })</td>
                                            </tr>
                                        </table>
                                       
                                        </td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                    }
                    </table>
    </div>
