@model IEnumerable<resourceEdge.webUi.Models.SystemModel.DisciplineListItem>
@{
    ViewBag.Title = "allViolation";
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
}
@section css{

    @Styles.Render("~/asset/tablecss");
}


<div class="table-responsive">

                <table class="table table-responsive table-striped table-bordered" id="tblGeneral">
                    <thead>
                    <tr>
                        <th>
                            Unit
                        </th>
                        <th>
                            Department
                        </th>
                        <th>Name</th>
                        <th>Incident</th>
                        <th>Corrective Action</th>
                        <th>Report manager</th>
                        <th>Expiry Date</th>
                        <th></th>
                    </tr>

                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Unit
                            </td>
                            <td>
                                @item.Department
                            </td>
                            <td>@item.FullName</td>
                            <td>@item.violation</td>
                            <td>@item.CorrectiveAction</td>
                            <td>@item.ReportManager</td>
                            <td>@item.Date</td>
                            
                            <td>
                                <table class="pull-right">
                                    <tr>
                                        @if (item.Appeal == 1 && item.ExpiryDate.Date >= DateTime.Now.Date)
                                        {
                                            <td>@Html.ActionLink("Appeal", "EditIncident", "Discipline", new { id = item.ID }, new { @class = "btn btn-info pull-right" })</td>
                                        }
                                        @if (item.Appeal == 1 && item.ExpiryDate.Date < DateTime.Now.Date)
                                        {
                                            <td><span class="label label-danger">Appeal Time Exceeded</span></td>
                                        }
                                        @if (item.Appeal == 2)
                                        {
                                            <td><span class="label label-danger">No Appeal</span></td>
                                        }
                                        <td>
                                        <table class="pull-right">
                                            @*<tr>
                                                <td>@Html.Action("incidentDetail", "Discipline", new { id = item.ID })</td>
                                            </tr>*@
                                        </table>
                                       
                                        </td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                    }
                    </tbody>
                    </table>
    </div>
@section Scripts{
    @Scripts.Render("~/assets/Table");
    <script src="~/Scripts/Pages/JS/DataTableInitialization.js"></script>
}