@model resourceEdge.Domain.Entities.LeaveRequestViewModel

@{

    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
}
@section css{
 <style>
    textarea {
        resize: none;
    }
</style>

}
@using (Html.BeginForm("RequestLeave", "SelfService", null, FormMethod.Post, new { data_parsley_validate = "" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.Hidden("userKey", (string)ViewBag.userId)

    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Used Leave", htmlAttributes: new { @class = "control-label" })
            <input class="form-control text-box single-line" id="UsedLeave" name="UsedLeave" readonly="readonly" type="text" value="@ViewBag.UsedLeave" required="" />
        </div>
    </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Available Leave", htmlAttributes: new { @class = "control-label" })
                <input class="form-control text-box single-line" id="AvailableLeave" name="AvailableLeave" readonly="readonly" type="text" value="Getting available leaves please wait" required="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="AvailableLeave" data-valmsg-replace="true"></span>
                @Html.ValidationMessageFor(model => model.AvailableLeave, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Leave type", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.LeavetypeId, (SelectList)ViewBag.leaveType, "Select Leave Type", htmlAttributes: new { @class = "form-control", required = "" })
                @*@Html.ValidationMessageFor(model => model.LeavetypeId, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Unit Head", htmlAttributes: new { @class = "control-label" })
                <select class="form-control" id="RepmangId" name="RepmangId"></select>
                @Html.ValidationMessageFor(model => model.RepmangId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6" style="clear:both;">
            <div class="form-group">
                @Html.Label("From", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control", type = "date" }  })

                @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("To", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control datepicker", type = "date"} })
                @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                <span id="Date_error_message" class="hide" style="color:red"></span>
            </div>
        </div>


        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Total Request Days", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.requestDays, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LeaveNoOfDays, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("No of Days", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.LeaveNoOfDays, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LeaveNoOfDays, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.Reason, htmlAttributes: new { @class = "control-label " })
                <textarea cols="2" name="Reason" class="form-control" ></textarea>
                @*@Html.EditorFor(model => model.Reason, new { htmlAttributes = new { @class = "form-control", required = "" } })*@
                @*@Html.ValidationMessageFor(model => model.Reason, "", new { @class = "text-danger" })*@
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btnSubmit" type="submit" value="Create" class="btn btn-success pull-right" />
            </div>
        </div>
}

<div class="hidden" id="key" name="userKey">@ViewBag.userId</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Pages/JS/SelfService/RequestLeave.js"></script>
}


